Repository workbuoy/workbuoy-suite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @org/backend-team, @repo-maintainers, @org/frontend-team, @org/platform-team, @org/devops-team, @org/docs-team

.github/CODEOWNERS:

CODEOWNERS
Replace @org/* placeholders with real GH teams or usernames when available.
Core applications

/apps/backend/ @org/backend-team @repo-maintainers
/apps/frontend/ @org/frontend-team @repo-maintainers

Shared types & tooling

/types/ @org/platform-team @repo-maintainers
/tools/ @org/platform-team @repo-maintainers

CI & workflows

/.github/workflows/ @org/platform-team @repo-maintainers

Infra: Helm & Kubernetes

/deploy/helm/ @org/platform-team @org/devops-team @repo-maintainers
/deploy/k8s/ @org/platform-team @org/devops-team @repo-maintainers

Documentation

/docs/ @org/docs-team @repo-maintainers

Catch-all (optional): uncomment to require maintainer review by default
# * @repo-maintainers

ci(backend): build only backend deps (rbac/metrics/telemetry/auth); avoid Next/Electron builds that broke PR4 smoke
  .github/workflows/backend-ci.yml
Owners: @org/platform-team, @repo-maintainers

fix(backend): express ESM imports — use type-only for RequestHandler; avoid runtime named imports; add runtime smoke test
  apps/backend/src/connectors/routes.ts
  apps/backend/src/connectors/webhooks.ts
  apps/backend/src/crm/dummy_mutations.ts
  apps/backend/src/crm/import_export.ts
  apps/backend/src/crm/import_export_routes.ts
  apps/backend/src/crm/pipeline.ts
  apps/backend/src/crm/rbacGuard.ts
  apps/backend/src/crm/routes.db.ts
  apps/backend/src/crm/routes.ts
  apps/backend/src/docs/swagger.ts
  apps/backend/src/identity/middleware.ts
  apps/backend/src/identity/sso.ts
  apps/backend/src/meta-evolution/routes/evolution.routes.ts
  apps/backend/src/metrics/router.ts
  apps/backend/src/middleware/errors.ts
  apps/backend/src/middleware/latency.ts
  apps/backend/src/middleware/security.ts
  apps/backend/src/routes/genesis.autonomy.ts
  apps/backend/src/scim/middleware.ts
  apps/backend/src/scim/routes.ts
  apps/backend/src/security/helmet.ts
  apps/backend/src/server.ts
  apps/backend/src/swagger.ts
  apps/backend/tests/runtime.import.smoke.test.ts
Owners: @org/backend-team, @repo-maintainers

fix(backend): proposals route uses correct policy import path and tolerant export selection; avoid boot crash
  apps/backend/routes/proposals.ts
  apps/backend/src/server.ts
  apps/backend/tests/proposals.import.smoke.test.ts
Owners: @org/backend-team, @repo-maintainers

build(backend): exclude routes/** from PR4 typecheck/container; type-safe policy wrapper to avoid CJS/ESM crashes later
  apps/backend/routes/proposals.ts
  apps/backend/tsconfig.container.json
  apps/backend/tsconfig.typecheck.json
Owners: @org/backend-team, @repo-maintainers

build(backend): narrow TS scope to src/** only for PR4; exclude routes/** and tests from typecheck/container; guard dynamic route import
  apps/backend/routes/proposals.ts
  apps/backend/src/server.ts
  apps/backend/tsconfig.container.json
  apps/backend/tsconfig.typecheck.json
Owners: @org/backend-team, @repo-maintainers

fix: harden backend version endpoint
  apps/backend/package.json
  apps/backend/src/http/version.ts
Owners: @org/backend-team, @repo-maintainers

fix: harden backend version endpoint (#261)
  apps/backend/package.json
  apps/backend/src/http/version.ts
Owners: @org/backend-team, @repo-maintainers

fix(backend): guard dynamic route mounting to avoid passing module namespace to Express
  apps/backend/routes/proposals.ts
  apps/backend/src/server.ts
Owners: @org/backend-team, @repo-maintainers

fix(backend): remove static policy import and resolve version handler conflict
  apps/backend/routes/proposals.ts
  apps/backend/src/http/version.ts
  apps/backend/tests/version.api.test.ts
Owners: @org/backend-team, @repo-maintainers

fix(backend): silence TS2307 in proposals by using computed import spec; resolve version.ts conflict
  apps/backend/routes/proposals.ts
  apps/backend/src/http/version.ts
Owners: @org/backend-team, @repo-maintainers

fix(backend): remove unused ts-expect-error in proposals and resolve version handler conflict
  apps/backend/routes/proposals.ts
  apps/backend/src/http/version.ts
Owners: @org/backend-team, @repo-maintainers

fix(backend): robust optional route mounting and resolve version.ts conflicts
  apps/backend/src/http/version.ts
  apps/backend/src/server.ts
Owners: @org/backend-team, @repo-maintainers

fix(backend): type-safe optional route mounting + resolve version.ts conflicts
  apps/backend/src/server.ts
Owners: @org/backend-team, @repo-maintainers

feat(backend): guard optional routes and expose version
  apps/backend/src/http/version.ts
  apps/backend/src/server.ts
  apps/backend/tsconfig.container.json
  apps/backend/tsconfig.typecheck.json
Owners: @org/backend-team, @repo-maintainers

backend: fix optional route specs to resolve from src → ../routes
  apps/backend/src/server.ts
Owners: @org/backend-team, @repo-maintainers

feat: harden backend optional routes and version endpoint (#262)
  apps/backend/src/http/version.ts
  apps/backend/src/server.ts
  apps/backend/tsconfig.container.json
  apps/backend/tsconfig.typecheck.json
Owners: @org/backend-team, @repo-maintainers

PR5: Idempotent Prisma migrate deploy + safe seed for CI/dev
  apps/backend/.env.example
  apps/backend/README.md
  apps/backend/package.json
  apps/backend/prisma/seed.ts
  apps/backend/src/db/prisma.ts
Owners: @org/backend-team, @repo-maintainers

fix(db): resolve PrismaClient type/value import conflict; restore full roles/features seeding with migrate guard and robust loaders
  apps/backend/prisma/seed.ts
  apps/backend/src/db/prisma.ts
Owners: @org/backend-team, @repo-maintainers

chore(ci,db): run prisma migrate deploy before seed; add db:prepare/seed:all scripts; keep runtime guard intact
  .github/workflows/backend-persistence.yml
  apps/backend/package.json
  apps/backend/prisma/seed.ts
Owners: @org/platform-team, @repo-maintainers, @org/backend-team

chore(db): make db:seed run prisma migrate deploy first to avoid P2021 on cold DBs; keep aliases working
  apps/backend/package.json
Owners: @org/backend-team, @repo-maintainers

chore(seed): remove hard "Schema is not migrated" guard; rely on db:deploy in db:seed workflow
  apps/backend/prisma/seed.ts
Owners: @org/backend-team, @repo-maintainers

chore(seed): guard table existence; warn and skip instead of failing with P2021
  apps/backend/prisma/seed.ts
Owners: @org/backend-team, @repo-maintainers

PR5: Idempotent Prisma migrate deploy + safe seed for CI/dev (#263)
  .github/workflows/backend-persistence.yml
  apps/backend/.env.example
  apps/backend/README.md
  apps/backend/package.json
  apps/backend/prisma/seed.ts
  apps/backend/src/db/prisma.ts
Owners: @org/platform-team, @repo-maintainers, @org/backend-team

backend: add Node test-based smoke suite
  .github/workflows/backend-ci.yml
  apps/backend/package.json
  apps/backend/tests-smoke/crm.test.js
  apps/backend/tests-smoke/health.test.js
  apps/backend/tests-smoke/helpers/server.js
  apps/backend/tests-smoke/metrics.test.js
  apps/backend/tests-smoke/version.test.js
  package.json
Owners: @org/platform-team, @repo-maintainers, @org/backend-team

backend: fix smoke runner & stabilize boot under tsx
  apps/backend/package.json
  apps/backend/src/http/version.ts
  apps/backend/src/server.ts
  apps/backend/tests-smoke/helpers/server.js
  apps/backend/tests-smoke/index.test.js
  apps/backend/tests-smoke/package.json
  package-lock.json
Owners: @org/backend-team, @repo-maintainers

backend: stabilize smoke shutdown flow
  apps/backend/package.json
  apps/backend/src/index.ts
  apps/backend/tests-smoke/_helpers/backend.js
  apps/backend/tests-smoke/crm.test.js
  apps/backend/tests-smoke/health.test.js
  apps/backend/tests-smoke/helpers/server.js
  apps/backend/tests-smoke/metrics.test.js
  apps/backend/tests-smoke/version.test.js
Owners: @org/backend-team, @repo-maintainers

backend: guard optional modules for smoke runs
  apps/backend/src/server.ts
Owners: @org/backend-team, @repo-maintainers

backend: guard metrics optional package for smoke
  apps/backend/package.json
  apps/backend/src/connectors/metrics.ts
  apps/backend/src/metrics/metrics.ts
  apps/backend/src/security/helmet.ts
  apps/backend/src/server.ts
  apps/backend/tests-smoke/_helpers/backend.js
  apps/backend/tests-smoke/crm.test.js
  apps/backend/tests-smoke/health.test.js
  apps/backend/tests-smoke/index.js
  apps/backend/tests-smoke/metrics.test.js
  apps/backend/tests-smoke/package.json
  apps/backend/tests-smoke/version.test.js
Owners: @org/backend-team, @repo-maintainers

backend: allow metrics spec override
  apps/backend/src/metrics/metrics.ts
Owners: @org/backend-team, @repo-maintainers

backend: add smoke suite and guard optional modules
  apps/backend/package.json
  apps/backend/src/http/version.ts
  apps/backend/src/metrics/metrics.ts
  apps/backend/src/server.ts
  apps/backend/tests-smoke/index.js
  apps/backend/tests-smoke/index.test.js
  apps/backend/tests-smoke/package.json
  package.json
Owners: @org/backend-team, @repo-maintainers

Add backend Node smoke tests (#264)
  .github/workflows/backend-ci.yml
  apps/backend/package.json
  apps/backend/src/connectors/metrics.ts
  apps/backend/src/http/version.ts
  apps/backend/src/index.ts
  apps/backend/src/metrics/metrics.ts
  apps/backend/src/security/helmet.ts
  apps/backend/src/server.ts
  apps/backend/tests-smoke/_helpers/backend.js
  apps/backend/tests-smoke/crm.test.js
  apps/backend/tests-smoke/health.test.js
  apps/backend/tests-smoke/metrics.test.js
  apps/backend/tests-smoke/package.json
  apps/backend/tests-smoke/version.test.js
  package-lock.json
  package.json
Owners: @org/platform-team, @repo-maintainers, @org/backend-team

feat(ui): polish FlipCard component with Framer Motion and accessibility
  package-lock.json
  packages/ui/package.json
  packages/ui/src/components/FlipCard.stories.tsx
  packages/ui/src/components/FlipCard.test.tsx
  packages/ui/src/components/FlipCard.tsx
  packages/ui/src/components/__snapshots__/FlipCard.test.tsx.snap
  packages/ui/src/index.ts
  packages/ui/tsconfig.eslint.json
  packages/ui/tsconfig.json
  packages/ui/vitest.config.ts
  packages/ui/vitest.setup.ts
Owners: none

feat(ui): polish FlipCard component with Framer Motion and accessibility (#270)
  package-lock.json
  packages/ui/package.json
  packages/ui/src/components/FlipCard.stories.tsx
  packages/ui/src/components/FlipCard.test.tsx
  packages/ui/src/components/FlipCard.tsx
  packages/ui/src/components/__snapshots__/FlipCard.test.tsx.snap
  packages/ui/src/index.ts
  packages/ui/tsconfig.eslint.json
  packages/ui/tsconfig.json
  packages/ui/vitest.config.ts
  packages/ui/vitest.setup.ts
Owners: none

feat(ui): add proactivity switch component
  packages/ui/README.md
  packages/ui/src/components/ProactivitySwitch.stories.tsx
  packages/ui/src/components/ProactivitySwitch.test.tsx
  packages/ui/src/components/ProactivitySwitch.tsx
  packages/ui/src/components/__snapshots__/ProactivitySwitch.test.tsx.snap
  packages/ui/src/index.ts
Owners: none

feat(ui): add proactivity switch component (#271)
  packages/ui/README.md
  packages/ui/src/components/ProactivitySwitch.stories.tsx
  packages/ui/src/components/ProactivitySwitch.test.tsx
  packages/ui/src/components/ProactivitySwitch.tsx
  packages/ui/src/components/__snapshots__/ProactivitySwitch.test.tsx.snap
  packages/ui/src/index.ts
Owners: none

ci: add release workflow
  .github/workflows/release.yml
  CHANGELOG.md
  README.md
  RELEASE_NOTES.md
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  package-lock.json
  package.json
  packages/ui/CHANGELOG.md
  packages/ui/README.md
  packages/ui/package.json
  packages/ui/src/components/FlipCard.stories.tsx
  packages/ui/src/components/ProactivitySwitch.stories.tsx
  packages/ui/tsconfig.json
Owners: @org/platform-team, @repo-maintainers, @org/backend-team

ci: add release workflow (#272)
  .github/workflows/release.yml
  CHANGELOG.md
  README.md
  RELEASE_NOTES.md
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  package-lock.json
  package.json
  packages/ui/CHANGELOG.md
  packages/ui/README.md
  packages/ui/package.json
  packages/ui/src/components/FlipCard.stories.tsx
  packages/ui/src/components/ProactivitySwitch.stories.tsx
  packages/ui/tsconfig.json
Owners: @org/platform-team, @repo-maintainers, @org/backend-team

feat(ui): add Storybook support
  .github/workflows/ui.yml
  package-lock.json
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/preview.ts
  packages/ui/README.md
  packages/ui/package.json
  packages/ui/scripts/run-storybook.cjs
  packages/ui/src/components/FlipCard.stories.tsx
  packages/ui/src/components/ProactivitySwitch.stories.tsx
  packages/ui/tsconfig.json
Owners: @org/platform-team, @repo-maintainers

ui/storybook: drop stray storybook types and pin resolver
  package-lock.json
  packages/ui/.eslintrc.cjs
  packages/ui/package.json
  packages/ui/src/components/FlipCard.stories.tsx
  packages/ui/src/components/FlipCard.test.tsx
  packages/ui/src/components/ProactivitySwitch.stories.tsx
  packages/ui/src/components/ProactivitySwitch.test.tsx
  packages/ui/src/index.ts
  packages/ui/tsconfig.json
Owners: none

ui/eslint: force node resolver & disable import rules to avoid unrs-resolver in CI
  packages/ui/.eslintrc.cjs
Owners: none
