Repository workbuoy/workbuoy-suite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @org/backend-team, @repo-maintainers, @org/frontend-team, @org/platform-team, @org/devops-team, @org/docs-team

fix(ci/frontend): stabiliser workspace-resolver, Docker install-orden og lint peer deps
  Dockerfile
  apps/backend/Dockerfile
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/types/workbuoy-ui.d.ts
  enterprise/Dockerfile
  package-lock.json
  packages/ui/package.json
Owners: @org/backend-team, @repo-maintainers, @org/frontend-team

Add accessible FlipCard + ProactivitySwitch demo route (#286)
  CHANGELOG.md
  Dockerfile
  apps/backend/Dockerfile
  apps/frontend/Dockerfile
  apps/frontend/README.md
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/App.tsx
  apps/frontend/src/main.tsx
  apps/frontend/src/routes/demo/controls-demo.test.tsx
  apps/frontend/src/routes/demo/controls-demo.tsx
  apps/frontend/src/types/workbuoy-ui.d.ts
  apps/frontend/tsconfig.json
  apps/frontend/vite.config.ts
  enterprise/Dockerfile
  package-lock.json
  packages/ui/package.json
Owners: @org/backend-team, @repo-maintainers, @org/frontend-team

backend(telemetry): prefer built package, fallback to workspace src in dev/test
  apps/backend/src/telemetry/context.ts
Owners: @org/backend-team, @repo-maintainers

feat(observability): Jest-tester for telemetry/export og logs/ingest m/traceparent
  apps/backend/src/observability/logs/router.spec.ts
  apps/backend/src/observability/telemetry/router.spec.ts
Owners: @org/backend-team, @repo-maintainers

feat(observability): Jest-tester for telemetry/export og logs/ingest m/traceparent (#291)
  apps/backend/src/observability/logs/router.spec.ts
  apps/backend/src/observability/telemetry/router.spec.ts
Owners: @org/backend-team, @repo-maintainers

backend(telemetry): NodeNext-safe import + tsconfig paths; ensure express is runtime dep
  apps/backend/src/telemetry/context.ts
  apps/backend/tsconfig.json
  apps/backend/tsconfig.meta.json
  packages/backend-telemetry/package.json
Owners: @org/backend-team, @repo-maintainers

backend(typecheck): resolve workspace packages via TS paths; fix implicit any in CRM dummy handlers
  apps/backend/src/crm/dummy_mutations.ts
  apps/backend/tsconfig.json
  apps/backend/tsconfig.typecheck.json
  packages/backend-rbac/package.json
Owners: @org/backend-team, @repo-maintainers

feat(ui/a11y): polish FlipCard & ProactivitySwitch
  packages/ui/CHANGELOG.md
  packages/ui/README.md
  packages/ui/src/components/FlipCard.a11y.test.tsx
  packages/ui/src/components/FlipCard.stories.tsx
  packages/ui/src/components/FlipCard.test.tsx
  packages/ui/src/components/FlipCard.tsx
  packages/ui/src/components/ProactivitySwitch.a11y.test.tsx
  packages/ui/src/components/ProactivitySwitch.stories.tsx
  packages/ui/src/components/ProactivitySwitch.test.tsx
  packages/ui/src/components/ProactivitySwitch.tsx
  packages/ui/src/components/__snapshots__/FlipCard.test.tsx.snap
  packages/ui/src/components/__snapshots__/ProactivitySwitch.test.tsx.snap
  packages/ui/src/index.css
  packages/ui/src/index.ts
  packages/ui/src/styles/focus.css
  packages/ui/src/test/setup.ts
  packages/ui/vitest.config.ts
Owners: none

backend(typecheck): exclude tests from tsc & harden workspace paths
  apps/backend/src/crm/dummy_mutations.ts
  apps/backend/tsconfig.typecheck.json
  apps/backend/typings/workspaces.d.ts
Owners: @org/backend-team, @repo-maintainers

fix(frontend/demo): legg til role="group" og korrekt default aria-pressed for Reactive
  apps/frontend/src/routes/demo/controls-demo.tsx
Owners: @org/frontend-team, @repo-maintainers

backend(rbac/telemetry): sync package exports + strict params in CRM dummy handlers
  apps/backend/src/crm/dummy_mutations.ts
  packages/backend-rbac/src/index.ts
  packages/backend-telemetry/src/index.ts
Owners: @org/backend-team, @repo-maintainers

fix(frontend/demo): type-annotate callback refs og keydown-handlers (TS7006)
  apps/frontend/src/routes/demo/controls-demo.tsx
Owners: @org/frontend-team, @repo-maintainers

feat: improve FlipCard and ProactivitySwitch accessibility (#292)
  apps/frontend/src/routes/demo/controls-demo.tsx
  packages/ui/CHANGELOG.md
  packages/ui/README.md
  packages/ui/src/components/FlipCard.a11y.test.tsx
  packages/ui/src/components/FlipCard.stories.tsx
  packages/ui/src/components/FlipCard.test.tsx
  packages/ui/src/components/FlipCard.tsx
  packages/ui/src/components/ProactivitySwitch.a11y.test.tsx
  packages/ui/src/components/ProactivitySwitch.stories.tsx
  packages/ui/src/components/ProactivitySwitch.test.tsx
  packages/ui/src/components/ProactivitySwitch.tsx
  packages/ui/src/components/__snapshots__/FlipCard.test.tsx.snap
  packages/ui/src/components/__snapshots__/ProactivitySwitch.test.tsx.snap
  packages/ui/src/index.css
  packages/ui/src/index.ts
  packages/ui/src/styles/focus.css
  packages/ui/src/test/setup.ts
  packages/ui/vitest.config.ts
Owners: @org/frontend-team, @repo-maintainers

feat(frontend): dashboard-shell m/a11y, focus og skjelettlasting
  CHANGELOG.md
  apps/frontend/README.md
  apps/frontend/src/App.tsx
  apps/frontend/src/components/PrimaryNav.tsx
  apps/frontend/src/main.tsx
  apps/frontend/src/routes/dashboard/dashboard.css
  apps/frontend/src/routes/dashboard/index.test.tsx
  apps/frontend/src/routes/dashboard/index.tsx
Owners: @org/frontend-team, @repo-maintainers

feat(telemetry): expose storages/router/types (barrel + exports map)
  apps/backend/src/server.ts
  apps/backend/src/telemetry/context.ts
  apps/backend/src/telemetryContext.ts
  packages/backend-rbac/package.json
  packages/backend-rbac/src/binding.ts
  packages/backend-rbac/src/index.ts
  packages/backend-rbac/src/types.ts
  packages/backend-rbac/tsconfig.json
  packages/backend-telemetry/package.json
  packages/backend-telemetry/src/index.ts
  packages/backend-telemetry/tsconfig.json
Owners: @org/backend-team, @repo-maintainers

feat(frontend): dashboard-shell m/a11y, focus og skjelettlasting (#293)
  CHANGELOG.md
  apps/frontend/README.md
  apps/frontend/src/App.tsx
  apps/frontend/src/components/PrimaryNav.tsx
  apps/frontend/src/main.tsx
  apps/frontend/src/routes/dashboard/dashboard.css
  apps/frontend/src/routes/dashboard/index.test.tsx
  apps/frontend/src/routes/dashboard/index.tsx
Owners: @org/frontend-team, @repo-maintainers

feat(frontend/dashboard): a11y-polish (landmarks, fokus, tastatur, live-status)
  CHANGELOG.md
  README.md
  apps/frontend/src/routes/dashboard/dashboard.css
  apps/frontend/src/routes/dashboard/index.a11y.test.tsx
  apps/frontend/src/routes/dashboard/index.test.tsx
  apps/frontend/src/routes/dashboard/index.tsx
Owners: @org/frontend-team, @repo-maintainers

backend: align RBAC/telemetry exports and typecheck
  .github/workflows/backend-tests.yml
  apps/backend/src/crm/dummy_mutations.ts
  apps/backend/src/server.ts
  apps/backend/tsconfig.json
  apps/backend/tsconfig.meta.json
  apps/backend/tsconfig.typecheck.json
  apps/backend/typings/workspaces.d.ts
  packages/backend-rbac/package.json
  packages/backend-rbac/src/index.ts
  packages/backend-rbac/tsconfig.json
  packages/backend-telemetry/src/http/router.ts
  packages/backend-telemetry/src/index.ts
  packages/backend-telemetry/src/storage/memory.ts
  packages/backend-telemetry/src/storage/prisma.ts
  packages/backend-telemetry/tsconfig.json
Owners: @org/platform-team, @repo-maintainers, @org/backend-team

feat(frontend/dashboard): a11y-polish (landmarks, fokus, tastatur, live-status) (#294)
  CHANGELOG.md
  README.md
  apps/frontend/src/routes/dashboard/dashboard.css
  apps/frontend/src/routes/dashboard/index.a11y.test.tsx
  apps/frontend/src/routes/dashboard/index.test.tsx
  apps/frontend/src/routes/dashboard/index.tsx
Owners: @org/frontend-team, @repo-maintainers

feat(frontend/dashboard): state views with live status and retry
  CHANGELOG.md
  README.md
  apps/frontend/src/routes/dashboard/dashboard.css
  apps/frontend/src/routes/dashboard/index.a11y.test.tsx
  apps/frontend/src/routes/dashboard/index.stateviews.test.tsx
  apps/frontend/src/routes/dashboard/index.tsx
Owners: @org/frontend-team, @repo-maintainers

Fix backend telemetry context and RBAC exports
  .github/workflows/backend-ci.yml
  apps/backend/routes/features.ts
  apps/backend/routes/usage.ts
  apps/backend/src/crm/dummy_mutations.ts
  apps/backend/src/lib/prismaJson.ts
  apps/backend/src/server.ts
  apps/backend/src/telemetry/context.ts
  apps/backend/src/telemetryContext.ts
  apps/backend/tsconfig.json
  apps/backend/tsconfig.typecheck.json
  packages/backend-rbac/package.json
  packages/backend-rbac/src/binding/resolveRoles.ts
  packages/backend-rbac/src/binding/upsertBinding.ts
  packages/backend-rbac/src/enforcer/createPolicyEnforcer.ts
  packages/backend-rbac/src/http/router.ts
  packages/backend-rbac/src/index.ts
  packages/backend-rbac/src/middleware/requireRole.ts
  packages/backend-rbac/src/store/index.ts
  packages/backend-rbac/src/types.ts
  packages/backend-rbac/tsconfig.json
  packages/backend-telemetry/package.json
  packages/backend-telemetry/src/adapters/prismaStorage.ts
  packages/backend-telemetry/src/index.ts
  packages/backend-telemetry/src/router.ts
  packages/backend-telemetry/src/storage/memory.ts
  packages/backend-telemetry/src/storage/prisma.ts
Owners: @org/platform-team, @repo-maintainers, @org/backend-team

feat(frontend/dashboard): state views with live status and retry (#295)
  CHANGELOG.md
  README.md
  apps/frontend/src/routes/dashboard/dashboard.css
  apps/frontend/src/routes/dashboard/index.a11y.test.tsx
  apps/frontend/src/routes/dashboard/index.stateviews.test.tsx
  apps/frontend/src/routes/dashboard/index.tsx
Owners: @org/frontend-team, @repo-maintainers

feat(ui): BuoyDock-widget (chat front, Navi back) m/expand
  apps/frontend/CHANGELOG.md
  apps/frontend/src/routes/dock-demo.tsx
  apps/frontend/src/types/ui.d.ts
  apps/frontend/tsconfig.json
  packages/ui/CHANGELOG.md
  packages/ui/README.md
  packages/ui/src/BuoyDock/BuoyDock.a11y.test.tsx
  packages/ui/src/BuoyDock/BuoyDock.stories.tsx
  packages/ui/src/BuoyDock/BuoyDock.tsx
  packages/ui/src/BuoyDock/buoydock.css
  packages/ui/src/index.ts
Owners: @org/frontend-team, @repo-maintainers

fix(ui/frontend): correct UI type import and collapse focus
  apps/frontend/src/types/ui.d.ts
  packages/ui/src/BuoyDock/BuoyDock.tsx
Owners: @org/frontend-team, @repo-maintainers

fix(ui/export): expose BuoyDock via ui barrel and drop frontend shim
  apps/frontend/src/types/ui.d.ts
  apps/frontend/src/types/workbuoy-ui.d.ts
  packages/ui/src/index.ts
Owners: @org/frontend-team, @repo-maintainers

feat(ui): add BuoyDock widget with expand and accessibility updates (#297)
  apps/frontend/CHANGELOG.md
  apps/frontend/src/routes/dock-demo.tsx
  apps/frontend/src/types/workbuoy-ui.d.ts
  apps/frontend/tsconfig.json
  packages/ui/CHANGELOG.md
  packages/ui/README.md
  packages/ui/src/BuoyDock/BuoyDock.a11y.test.tsx
  packages/ui/src/BuoyDock/BuoyDock.stories.tsx
  packages/ui/src/BuoyDock/BuoyDock.tsx
  packages/ui/src/BuoyDock/buoydock.css
  packages/ui/src/index.ts
Owners: @org/frontend-team, @repo-maintainers

feat(observability): polish metrics + logs (labels, content-type, structured logs)
  CHANGELOG.md
  apps/backend/README.md
  apps/backend/package.json
  apps/backend/src/metrics/metrics.e2e.spec.ts
  apps/backend/src/metrics/registry.runtime.spec.ts
  apps/backend/src/metrics/registry.ts
  apps/backend/src/metrics/router.disabled.spec.ts
  apps/backend/src/metrics/router.polish.spec.ts
  apps/backend/src/metrics/router.ts
  apps/backend/src/middleware/trace.ts
  apps/backend/src/observability/logs/router.polish.spec.ts
  apps/backend/src/observability/logs/router.ts
Owners: @org/backend-team, @repo-maintainers

test(metrics): accept service or service_name in smoke-test
  apps/backend/tests/smoke/metrics.smoke.test.ts
Owners: @org/backend-team, @repo-maintainers

feat(observability): polish metrics + logs (labels, content-type, structured logs) (#298)
  CHANGELOG.md
  apps/backend/README.md
  apps/backend/package.json
  apps/backend/src/metrics/metrics.e2e.spec.ts
  apps/backend/src/metrics/registry.runtime.spec.ts
  apps/backend/src/metrics/registry.ts
  apps/backend/src/metrics/router.disabled.spec.ts
  apps/backend/src/metrics/router.polish.spec.ts
  apps/backend/src/metrics/router.ts
  apps/backend/src/middleware/trace.ts
  apps/backend/src/observability/logs/router.polish.spec.ts
  apps/backend/src/observability/logs/router.ts
  apps/backend/tests/smoke/metrics.smoke.test.ts
Owners: @org/backend-team, @repo-maintainers

fix: use Prisma client types in telemetry storage
  packages/backend-telemetry/src/storage/prisma.ts
Owners: none

feat(qa): legg til a11y-sjekker og backend-kontrakter
  .github/workflows/ci.yml
  CHANGELOG.md
  apps/backend/README.md
  apps/backend/package.json
  apps/backend/src/http/version.ts
  apps/backend/tests/contract/metrics.contract.spec.ts
  apps/backend/tests/contract/version.contract.spec.ts
  apps/backend/vitest.config.ts
  apps/frontend/README.md
  apps/frontend/package.json
  apps/frontend/src/routes/dashboard/index.a11y.spec.tsx
  apps/frontend/src/routes/dock-demo.a11y.spec.tsx
  apps/frontend/src/test-utils/axe.ts
  apps/frontend/vitest.a11y.config.ts
  package-lock.json
  packages/ui/src/BuoyDock/BuoyDock.tsx
  packages/ui/src/components/FlipCard.tsx
Owners: @org/platform-team, @repo-maintainers, @org/backend-team, @org/frontend-team

fix(frontend/qa): ekskluder testfiler fra build og flytt jest-axe matcher til Vitest setup
  apps/frontend/package.json
  apps/frontend/src/test-utils/axe.setup.ts
  apps/frontend/src/test-utils/axe.ts
  apps/frontend/src/types/jest-axe.d.ts
  apps/frontend/tsconfig.json
  apps/frontend/vitest.a11y.config.ts
Owners: @org/frontend-team, @repo-maintainers

feat(qa): add a11y QA checks and backend contract coverage (#299)
  .github/workflows/ci.yml
  CHANGELOG.md
  apps/backend/README.md
  apps/backend/package.json
  apps/backend/src/http/version.ts
  apps/backend/tests/contract/metrics.contract.spec.ts
  apps/backend/tests/contract/version.contract.spec.ts
  apps/backend/vitest.config.ts
  apps/frontend/README.md
  apps/frontend/package.json
  apps/frontend/src/routes/dashboard/index.a11y.spec.tsx
  apps/frontend/src/routes/dock-demo.a11y.spec.tsx
  apps/frontend/src/test-utils/axe.setup.ts
  apps/frontend/src/test-utils/axe.ts
  apps/frontend/src/types/jest-axe.d.ts
  apps/frontend/tsconfig.json
  apps/frontend/vitest.a11y.config.ts
  package-lock.json
  packages/ui/src/BuoyDock/BuoyDock.tsx
  packages/ui/src/components/FlipCard.tsx
Owners: @org/platform-team, @repo-maintainers, @org/backend-team, @org/frontend-team

chore(release): 1.1.0 + notes, changelog og docs-polish
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/release.yml
  CHANGELOG.md
  PULL_REQUEST_TEMPLATE.md
  README.md
  VERSION
  apps/backend/README.md
  apps/backend/package.json
  apps/frontend/README.md
  apps/frontend/navi-mvp/package.json
  apps/frontend/package.json
  connectors/dynamics/package.json
  connectors/salesforce/package.json
  crm/package.json
  desktop/package.json
  docs/observability.md
  docs/qa.md
  examples/js/package.json
  package-lock.json
  package.json
  packages/backend-auth/package.json
  packages/backend-metrics/package.json
  packages/backend-rbac/package.json
  packages/backend-telemetry/package.json
  packages/roles-data/package.json
  packages/ui/package.json
  scripts/release-notes.js
  sdk/gen/typescript/package.json
  sdk/js/package.json
  sdk/ts/package.json
  telemetry/package.json
Owners: @org/platform-team, @repo-maintainers, @org/backend-team, @org/frontend-team, @org/docs-team

chore(release): 1.1.0 + notes, changelog og docs-polish (#300)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/release.yml
  CHANGELOG.md
  PULL_REQUEST_TEMPLATE.md
  README.md
  VERSION
  apps/backend/README.md
  apps/backend/package.json
  apps/frontend/README.md
  apps/frontend/navi-mvp/package.json
  apps/frontend/package.json
  connectors/dynamics/package.json
  connectors/salesforce/package.json
  crm/package.json
  desktop/package.json
  docs/observability.md
  docs/qa.md
  examples/js/package.json
  package-lock.json
  package.json
  packages/backend-auth/package.json
  packages/backend-metrics/package.json
  packages/backend-rbac/package.json
  packages/backend-telemetry/package.json
  packages/roles-data/package.json
  packages/ui/package.json
  scripts/release-notes.js
  sdk/gen/typescript/package.json
  sdk/js/package.json
  sdk/ts/package.json
  telemetry/package.json
Owners: @org/platform-team, @repo-maintainers, @org/backend-team, @org/frontend-team, @org/docs-team

telemetry/prisma – bruk ekte Prisma-typer, lazy klient og korrekt JSON-typing for metadata
  packages/backend-telemetry/src/storage/prisma.ts
Owners: none

Refactor backend packages for NodeNext builds
  packages/backend-metrics/package.json
  packages/backend-metrics/tsconfig.json
  packages/backend-rbac/package.json
  packages/backend-rbac/tsconfig.json
  packages/backend-telemetry/package.json
  packages/backend-telemetry/src/http.ts
  packages/backend-telemetry/src/storage.ts
  packages/backend-telemetry/tsconfig.json
Owners: none

Build backend workspace packages before CI typecheck
  .github/workflows/backend-ci.yml
Owners: @org/platform-team, @repo-maintainers

Refine backend tsconfig for NodeNext
  apps/backend/src/lib/prismaJson.ts
  apps/backend/src/telemetryContext.ts
  apps/backend/tsconfig.json
  apps/backend/tsconfig.typecheck.json
Owners: @org/backend-team, @repo-maintainers

Add Codex audit artifacts
  codex_reports/SAMLERAPPORT.md
  codex_reports/inventory.json
  codex_reports/inventory.md
  codex_reports/report.json
Owners: none

.github/CODEOWNERS:

CODEOWNERS
Replace @org/* placeholders with real GH teams or usernames when available.
Core applications

/apps/backend/ @org/backend-team @repo-maintainers
/apps/frontend/ @org/frontend-team @repo-maintainers

Shared types & tooling

/types/ @org/platform-team @repo-maintainers
/tools/ @org/platform-team @repo-maintainers

CI & workflows

/.github/workflows/ @org/platform-team @repo-maintainers

Infra: Helm & Kubernetes

/deploy/helm/ @org/platform-team @org/devops-team @repo-maintainers
/deploy/k8s/ @org/platform-team @org/devops-team @repo-maintainers

Documentation

/docs/ @org/docs-team @repo-maintainers

Catch-all (optional): uncomment to require maintainer review by default
# * @repo-maintainers
