Repository workbuoy/workbuoy-suite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @org/backend-team, @repo-maintainers, @org/frontend-team, @org/platform-team, @org/devops-team, @org/docs-team

chore(prisma+ci): centralize Prisma JSON helper; enforce lint; add audit report
  .github/workflows/lint.yml
  apps/backend/Dockerfile
  apps/backend/jest.ci.config.cjs
  apps/backend/jest.config.cjs
  apps/backend/jest.config.js
  apps/backend/jest.meta.config.cjs
  apps/backend/package.json
  apps/backend/src/lib/prismaJson.ts
  apps/backend/src/types/any-module.d.ts
  apps/backend/tests/__mocks__/prom-client.ts
  apps/backend/tsconfig.typecheck.json
  apps/frontend/Dockerfile
  package-lock.json
  package.json
  packages/backend-telemetry/src/adapters/prismaStorage.ts
  packages/backend-telemetry/src/lib/prismaJson.ts
  src/lib/prismaJson.ts
  src/roles/db/FeatureRepo.ts
  src/roles/db/OverrideRepo.ts
  src/roles/db/RoleRepo.ts
  src/roles/db/UserRoleRepo.ts
  tsconfig.json
Owners: @org/platform-team, @repo-maintainers, @org/backend-team, @org/frontend-team

chore(eslint): scope lint to shippable workspaces; keep strict gating
  .eslintignore
  .github/workflows/lint.yml
  apps/backend/package.json
  apps/frontend/package.json
  package.json
  packages/backend-metrics/package.json
  packages/backend-rbac/package.json
  packages/backend-telemetry/package.json
Owners: @org/platform-team, @repo-maintainers, @org/backend-team, @org/frontend-team

chore: centralize prisma json helper and tighten lint pipeline (#246)
  .eslintignore
  .github/workflows/lint.yml
  apps/backend/package.json
  apps/backend/src/lib/prismaJson.ts
  apps/frontend/package.json
  package.json
  packages/backend-metrics/package.json
  packages/backend-rbac/package.json
  packages/backend-telemetry/package.json
  packages/backend-telemetry/src/adapters/prismaStorage.ts
  packages/backend-telemetry/src/lib/prismaJson.ts
  src/lib/prismaJson.ts
  src/roles/db/FeatureRepo.ts
  src/roles/db/OverrideRepo.ts
  src/roles/db/RoleRepo.ts
  src/roles/db/UserRoleRepo.ts
Owners: @org/platform-team, @repo-maintainers, @org/backend-team, @org/frontend-team

chore(types): adopt official @types for backend; remove any/shim fallbacks
  apps/backend/package.json
  apps/backend/src/types/legacy-modules.d.ts
  apps/backend/tsconfig.container.json
  apps/backend/tsconfig.typecheck.json
  package-lock.json
  package.json
  packages/backend-metrics/tsconfig.json
  packages/backend-rbac/tsconfig.json
  types/prisma__client/index.d.ts
  types/prom-client.d.ts
Owners: @org/backend-team, @repo-maintainers, @org/platform-team

chore(types): adopt official @types for backend; remove any/shim fallbacks (#247)
  apps/backend/package.json
  apps/backend/src/types/legacy-modules.d.ts
  apps/backend/tsconfig.container.json
  apps/backend/tsconfig.typecheck.json
  package-lock.json
  package.json
  packages/backend-metrics/tsconfig.json
  packages/backend-rbac/tsconfig.json
  types/prisma__client/index.d.ts
  types/prom-client.d.ts
Owners: @org/backend-team, @repo-maintainers, @org/platform-team

test(backend): migrate to @swc/jest for ESM-first tests
  apps/backend/jest.ci.config.cjs
  apps/backend/jest.ci.config.ts
  apps/backend/jest.config.cjs
  apps/backend/jest.config.js
  apps/backend/jest.config.ts
  apps/backend/jest.meta.config.ts
  apps/backend/jest.persistence.config.cjs
  apps/backend/jest.persistence.config.ts
  apps/backend/package.json
  apps/backend/tests/jest.app.ts
  package-lock.json
  package.json
  tools/resolve-conflicts.sh
Owners: @org/backend-team, @repo-maintainers, @org/platform-team

test(backend): switch jest.config to ESM .mjs to drop ts-node requirement
  apps/backend/jest.config.mjs
Owners: @org/backend-team, @repo-maintainers

test(backend): migrate to @swc/jest for ESM-first tests (#248)
  apps/backend/jest.ci.config.cjs
  apps/backend/jest.ci.config.ts
  apps/backend/jest.config.cjs
  apps/backend/jest.config.js
  apps/backend/jest.config.mjs
  apps/backend/jest.meta.config.ts
  apps/backend/jest.persistence.config.cjs
  apps/backend/jest.persistence.config.ts
  apps/backend/package.json
  apps/backend/tests/jest.app.ts
  package-lock.json
  package.json
  tools/resolve-conflicts.sh
Owners: @org/backend-team, @repo-maintainers, @org/platform-team

ci: add backend coverage workflow
  .github/workflows/backend-tests.yml
  apps/backend/jest.config.mjs
  package-lock.json
  package.json
Owners: @org/platform-team, @repo-maintainers, @org/backend-team

test(ci): scope coverage to metrics/events & set realistic thresholds
  apps/backend/jest.config.mjs
  apps/backend/tests/eventBus.stats.shape.test.ts
Owners: @org/backend-team, @repo-maintainers

CI: Backend tests with coverage artifacts (#249)
  .github/workflows/backend-tests.yml
  apps/backend/jest.config.mjs
  apps/backend/tests/eventBus.stats.shape.test.ts
  package-lock.json
  package.json
Owners: @org/platform-team, @repo-maintainers, @org/backend-team

docs(metrics): document METRICS_* env and /metrics behavior
  apps/backend/README.md
  apps/backend/src/connectors/metrics.ts
  apps/backend/src/metrics/bridge.spec.ts
  apps/backend/src/metrics/bridge.ts
  apps/backend/src/metrics/metrics.e2e.spec.ts
  apps/backend/src/metrics/metrics.ts
  apps/backend/src/metrics/registry.ts
  apps/backend/src/metrics/router.ts
  apps/backend/src/observability/metricsConfig.ts
  apps/backend/src/server.ts
  apps/backend/tests/__mocks__/prom-client.ts
Owners: @org/backend-team, @repo-maintainers

docs(metrics): document METRICS_* env and /metrics behavior (#250)
  apps/backend/README.md
  apps/backend/src/connectors/metrics.ts
  apps/backend/src/metrics/bridge.spec.ts
  apps/backend/src/metrics/bridge.ts
  apps/backend/src/metrics/metrics.e2e.spec.ts
  apps/backend/src/metrics/metrics.ts
  apps/backend/src/metrics/registry.ts
  apps/backend/src/metrics/router.ts
  apps/backend/src/observability/metricsConfig.ts
  apps/backend/src/server.ts
  apps/backend/tests/__mocks__/prom-client.ts
Owners: @org/backend-team, @repo-maintainers

docs: note ESM/NodeNext import rules in CONTRIBUTING
  CONTRIBUTING.md
  apps/backend/tsconfig.container.json
  apps/backend/tsconfig.json
  apps/backend/tsconfig.typecheck.json
  tsconfig.json
  types/express-rate-limit/index.d.ts
  types/express.d.ts
  types/express/index.d.ts
Owners: @org/backend-team, @repo-maintainers, @org/platform-team

docs: note ESM/NodeNext import rules in CONTRIBUTING (#251)
  CONTRIBUTING.md
  apps/backend/tsconfig.container.json
  apps/backend/tsconfig.json
  apps/backend/tsconfig.typecheck.json
  tsconfig.json
  types/express-rate-limit/index.d.ts
  types/express.d.ts
  types/express/index.d.ts
Owners: @org/backend-team, @repo-maintainers, @org/platform-team

test(types): add compile-time Prisma upsert arg spec for roles
  apps/backend/src/roles/db/types.spec.ts
  packages/backend-telemetry/src/adapters/prismaStorage.ts
  src/roles/db/FeatureRepo.ts
  src/roles/db/OverrideRepo.ts
  src/roles/db/RoleRepo.ts
  src/roles/db/UserRoleRepo.ts
Owners: @org/backend-team, @repo-maintainers

test(types): add compile-time Prisma upsert arg spec for roles (#252)
  apps/backend/src/roles/db/types.spec.ts
  packages/backend-telemetry/src/adapters/prismaStorage.ts
  src/roles/db/FeatureRepo.ts
  src/roles/db/OverrideRepo.ts
  src/roles/db/RoleRepo.ts
  src/roles/db/UserRoleRepo.ts
Owners: @org/backend-team, @repo-maintainers

test(upload): add multipart smoke test for CRM import
  apps/backend/jest.config.mjs
  apps/backend/package.json
  apps/backend/src/crm/import_export.routes.upload.spec.ts
  apps/backend/src/crm/import_export_routes.ts
  apps/backend/src/crm/routes.ts
  apps/backend/src/lib/upload.ts
  package-lock.json
Owners: @org/backend-team, @repo-maintainers

test(upload): fix CRM import smoke test typing
  apps/backend/src/crm/import_export.routes.upload.spec.ts
Owners: @org/backend-team, @repo-maintainers

Upgrade backend upload handling to Multer v2 (#253)
  apps/backend/jest.config.mjs
  apps/backend/package.json
  apps/backend/src/crm/import_export.routes.upload.spec.ts
  apps/backend/src/crm/import_export_routes.ts
  apps/backend/src/crm/routes.ts
  apps/backend/src/lib/upload.ts
  package-lock.json
Owners: @org/backend-team, @repo-maintainers

test(backend): expand metrics/runtime + event-bus edge cases and CRM upload error paths
  apps/backend/TESTING.md
  apps/backend/src/core/events/priorityBus.edgecases.spec.ts
  apps/backend/src/crm/import_export.routes.upload.error.spec.ts
  apps/backend/src/metrics/registry.runtime.spec.ts
  apps/backend/src/metrics/router.disabled.spec.ts
Owners: @org/backend-team, @repo-maintainers

test(backend): expand metrics/runtime + event-bus edge cases and CRM upload error paths (#254)
  apps/backend/TESTING.md
  apps/backend/src/core/events/priorityBus.edgecases.spec.ts
  apps/backend/src/crm/import_export.routes.upload.error.spec.ts
  apps/backend/src/metrics/registry.runtime.spec.ts
  apps/backend/src/metrics/router.disabled.spec.ts
Owners: @org/backend-team, @repo-maintainers

Add caching to CI workflows and Docker builds
  .github/workflows/backend-ci.yml
  .github/workflows/backend-persistence.yml
  .github/workflows/backend-tests.yml
  .github/workflows/ci.yml
  .github/workflows/containers.yml
  .github/workflows/frontend-unit.yml
  .github/workflows/lint.yml
  .github/workflows/repo-guards.yml
  apps/backend/Dockerfile
  apps/frontend/Dockerfile
Owners: @org/platform-team, @repo-maintainers, @org/backend-team, @org/frontend-team

Remove SWC cache mount from Docker builds
  apps/backend/Dockerfile
  apps/frontend/Dockerfile
Owners: @org/backend-team, @repo-maintainers, @org/frontend-team

Add caching to CI workflows and Docker builds (#255)
  .github/workflows/backend-ci.yml
  .github/workflows/backend-persistence.yml
  .github/workflows/backend-tests.yml
  .github/workflows/ci.yml
  .github/workflows/containers.yml
  .github/workflows/frontend-unit.yml
  .github/workflows/lint.yml
  .github/workflows/repo-guards.yml
  apps/backend/Dockerfile
  apps/frontend/Dockerfile
Owners: @org/platform-team, @repo-maintainers, @org/backend-team, @org/frontend-team

chore: migrate eslint to flat config
  .eslintignore
  .eslintrc.cjs
  .eslintrc.cleanup.cjs
  .eslintrc.enforce
  apps/backend/.eslintrc.cjs
  apps/backend/package.json
  apps/backend/tsconfig.eslint.json
  apps/frontend/.eslintrc.cjs
  apps/frontend/package.json
  apps/frontend/tsconfig.eslint.json
  eslint.config.mjs
  package-lock.json
  package.json
  packages/backend-auth/tsconfig.eslint.json
  packages/backend-metrics/package.json
  packages/backend-metrics/tsconfig.eslint.json
  packages/backend-rbac/package.json
  packages/backend-rbac/tsconfig.eslint.json
  packages/backend-telemetry/package.json
  packages/backend-telemetry/tsconfig.eslint.json
  packages/roles-data/tsconfig.eslint.json
  tools/empty-parser.mjs
Owners: @org/backend-team, @repo-maintainers, @org/frontend-team, @org/platform-team

chore: migrate eslint to flat config (#256)
  .eslintignore
  .eslintrc.cjs
  .eslintrc.cleanup.cjs
  .eslintrc.enforce
  apps/backend/.eslintrc.cjs
  apps/backend/package.json
  apps/backend/tsconfig.eslint.json
  apps/frontend/.eslintrc.cjs
  apps/frontend/package.json
  apps/frontend/tsconfig.eslint.json
  eslint.config.mjs
  package-lock.json
  package.json
  packages/backend-auth/tsconfig.eslint.json
  packages/backend-metrics/package.json
  packages/backend-metrics/tsconfig.eslint.json
  packages/backend-rbac/package.json
  packages/backend-rbac/tsconfig.eslint.json
  packages/backend-telemetry/package.json
  packages/backend-telemetry/tsconfig.eslint.json
  packages/roles-data/tsconfig.eslint.json
  tools/empty-parser.mjs
Owners: @org/backend-team, @repo-maintainers, @org/frontend-team, @org/platform-team

chore(npm): remove legacy http-proxy config in CI
  .github/workflows/backend-ci.yml
  .github/workflows/backend-persistence.yml
  .github/workflows/backend-tests.yml
  .github/workflows/ci.yml
  .github/workflows/frontend-unit.yml
  .github/workflows/lint.yml
  .github/workflows/repo-guards.yml
  CONTRIBUTING.md
  scripts/ci/sanitize-npm-proxy.sh
Owners: @org/platform-team, @repo-maintainers

chore(npm): remove legacy http-proxy config in CI (#257)
  .github/workflows/backend-ci.yml
  .github/workflows/backend-persistence.yml
  .github/workflows/backend-tests.yml
  .github/workflows/ci.yml
  .github/workflows/frontend-unit.yml
  .github/workflows/lint.yml
  .github/workflows/repo-guards.yml
  CONTRIBUTING.md
  scripts/ci/sanitize-npm-proxy.sh
Owners: @org/platform-team, @repo-maintainers

test(jest): align backend with shared swc preset
  .github/workflows/backend-ci.yml
  .github/workflows/backend-tests.yml
  .swcrc
  apps/backend/jest.config.mjs
  apps/backend/package.json
  jest.preset.mjs
  package.json
Owners: @org/platform-team, @repo-maintainers, @org/backend-team

test(jest): restore backend workspace Jest CLI to fix CI test runners
  apps/backend/package.json
  package-lock.json
Owners: @org/backend-team, @repo-maintainers

test(ci): sync lockfile for identity-obj-proxy/harmony-reflect; move coverage gates to backend config; keep shared jest preset lean
  apps/backend/jest.config.mjs
  jest.preset.mjs
  package-lock.json
  package.json
Owners: @org/backend-team, @repo-maintainers

chore(prisma): generate client before backend checks
  .github/workflows/backend-ci.yml
  .github/workflows/backend-persistence.yml
  .github/workflows/backend-tests.yml
  .github/workflows/ci.yml
  apps/backend/package.json
  package.json
Owners: @org/platform-team, @repo-maintainers, @org/backend-team

build(prisma): make postinstall conditional and runtime-safe
  apps/backend/Dockerfile
  apps/backend/package.json
  apps/backend/scripts/postinstall.js
Owners: @org/backend-team, @repo-maintainers

build(backend): ignore npm scripts in docker and harden prisma hook
  apps/backend/Dockerfile
  apps/backend/scripts/postinstall.js
Owners: @org/backend-team, @repo-maintainers

build(prisma): convert backend postinstall helper to cjs
  apps/backend/package.json
  apps/backend/scripts/postinstall.cjs
  apps/backend/scripts/postinstall.js
Owners: @org/backend-team, @repo-maintainers

test(jest): align backend with shared swc preset (#258)
  .github/workflows/backend-ci.yml
  .github/workflows/backend-persistence.yml
  .github/workflows/backend-tests.yml
  .github/workflows/ci.yml
  .swcrc
  apps/backend/Dockerfile
  apps/backend/jest.config.mjs
  apps/backend/package.json
  apps/backend/scripts/postinstall.cjs
  jest.preset.mjs
  package-lock.json
  package.json
Owners: @org/platform-team, @repo-maintainers, @org/backend-team

Add comprehensive repository cleanup assessment
  reports/repo_cleanup_assessment.md
Owners: none

docs: ops endpoints + chaos flag note
  .github/workflows/backend-ci.yml
  apps/backend/README.md
  apps/backend/src/http/health.ts
  apps/backend/src/http/ready.ts
  apps/backend/src/http/version.ts
  apps/backend/src/server.ts
  apps/backend/tests/health.api.test.ts
  apps/backend/tests/ready.api.test.ts
  apps/backend/tests/version.api.test.ts
Owners: @org/platform-team, @repo-maintainers, @org/backend-team

ci(backend): build workspaces before smoke to fix ERR_MODULE_NOT_FOUND; prefer workspace start over tsx
  .github/workflows/backend-ci.yml
Owners: @org/platform-team, @repo-maintainers

.github/CODEOWNERS:

CODEOWNERS
Replace @org/* placeholders with real GH teams or usernames when available.
Core applications

/apps/backend/ @org/backend-team @repo-maintainers
/apps/frontend/ @org/frontend-team @repo-maintainers

Shared types & tooling

/types/ @org/platform-team @repo-maintainers
/tools/ @org/platform-team @repo-maintainers

CI & workflows

/.github/workflows/ @org/platform-team @repo-maintainers

Infra: Helm & Kubernetes

/deploy/helm/ @org/platform-team @org/devops-team @repo-maintainers
/deploy/k8s/ @org/platform-team @org/devops-team @repo-maintainers

Documentation

/docs/ @org/docs-team @repo-maintainers

Catch-all (optional): uncomment to require maintainer review by default
# * @repo-maintainers
