Repository workbuoy/workbuoy-suite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @org/backend-team, @repo-maintainers, @org/frontend-team, @org/platform-team, @org/devops-team, @org/docs-team

ui/eslint (flat): local override to force node resolver & disable import rules
  packages/ui/eslint.config.mjs
Owners: none

fix(ui/eslint): remove react-refresh plugin from UI config and add @eslint/js to root
  package-lock.json
  package.json
  packages/ui/eslint.config.mjs
Owners: none

fix(ui): skip rollup native in CI for vitest/storybook
  .github/workflows/ui.yml
  packages/ui/package.json
Owners: @org/platform-team, @repo-maintainers

fix(ui): add rollup fallback shims for vitest/storybook
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/ui/tools/run-storybook.mjs
  packages/ui/tools/run-vitest.mjs
Owners: none

fix(ui): ensure rollup fallback stability in ci
  package-lock.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/ui/tools/run-storybook.mjs
  packages/ui/tools/run-vitest.mjs
Owners: none

test(ui): configure vitest include and jsdom setup
  packages/ui/src/test/setup.ts
  packages/ui/vitest.config.ts
  packages/ui/vitest.setup.ts
Owners: none

fix(ui/storybook): align vite builder dependencies
  package-lock.json
  packages/ui/.storybook/main.ts
  packages/ui/package.json
  packages/ui/tsconfig.json
Owners: none

fix(ui/storybook): add storybook CLI dependency and confirm v8 framework config
  packages/ui/package.json
  packages/ui/scripts/run-storybook.cjs
Owners: none

feat(ui): add Storybook support (#273)
  .github/workflows/ui.yml
  package-lock.json
  package.json
  packages/ui/.eslintrc.cjs
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/preview.ts
  packages/ui/CHANGELOG.md
  packages/ui/README.md
  packages/ui/eslint.config.mjs
  packages/ui/package.json
  packages/ui/scripts/run-storybook.cjs
  packages/ui/src/components/FlipCard.stories.tsx
  packages/ui/src/components/FlipCard.test.tsx
  packages/ui/src/components/ProactivitySwitch.stories.tsx
  packages/ui/src/components/ProactivitySwitch.test.tsx
  packages/ui/src/index.ts
  packages/ui/src/test/setup.ts
  packages/ui/tools/run-storybook.mjs
  packages/ui/tools/run-vitest.mjs
  packages/ui/tsconfig.json
  packages/ui/vitest.config.ts
  packages/ui/vitest.setup.ts
Owners: @org/platform-team, @repo-maintainers

ci(ui): add Storybook build + artifact in PRs, optional Pages deploy
  .github/workflows/deploy-ui-storybook.yml
  .github/workflows/ui-storybook.yml
  packages/ui/README.md
  packages/ui/package.json
Owners: @org/platform-team, @repo-maintainers

ci(ui): add Storybook build + artifact in PRs, optional Pages deploy (#274)
  .github/workflows/deploy-ui-storybook.yml
  .github/workflows/ui-storybook.yml
  packages/ui/README.md
  packages/ui/package.json
Owners: @org/platform-team, @repo-maintainers

fix(ci): grant PR/issue write for size-report, skip forks; avoid 403
  .github/workflows/size-report.yml
Owners: @org/platform-team, @repo-maintainers

fix(ci): grant PR/issue write for size-report, skip forks; avoid 403 (#275)
  .github/workflows/size-report.yml
Owners: @org/platform-team, @repo-maintainers

Fix repo guard size report commenting for forks
  .github/workflows/repo-guards.yml
Owners: @org/platform-team, @repo-maintainers

Fix github-script core redeclaration in repo guards workflow
  .github/workflows/repo-guards.yml
Owners: @org/platform-team, @repo-maintainers

Fix repo guard size report commenting for forks (#278)
  .github/workflows/repo-guards.yml
Owners: @org/platform-team, @repo-maintainers

feat(test): CRM smoke (create+fetch) og /metrics-validering
  .github/workflows/backend-ci.yml
  CHANGELOG.md
  apps/backend/README.md
  apps/backend/package.json
  apps/backend/src/metrics/metrics.ts
  apps/backend/src/metrics/registry.ts
  apps/backend/src/observability/metrics.ts
  apps/backend/src/routes/crm.proposals.ts
  apps/backend/src/server.ts
  apps/backend/tests/smoke/crm.proposal.smoke.test.ts
  apps/backend/tests/smoke/metrics.smoke.test.ts
  apps/backend/tests/smoke/types.ts
  apps/backend/vitest.config.ts
  package-lock.json
  package.json
Owners: @org/platform-team, @repo-maintainers, @org/backend-team

fix(metrics): TS2880 import attributes + robust default-labels test
  apps/backend/src/metrics/registry.runtime.spec.ts
  apps/backend/src/metrics/registry.ts
  apps/backend/src/observability/metrics.ts
Owners: @org/backend-team, @repo-maintainers

docs(infra): add Infra.md (storage/ops guide) + .env.example files and README link
  .env.example
  .gitignore
  README.md
  docs/Infra.md
  packages/backend/.env.example
  packages/ui/.env.example
Owners: @org/docs-team, @repo-maintainers

docs(infra): add Infra.md (storage/ops guide) + .env.example files and README link (#280)
  .env.example
  .gitignore
  README.md
  docs/Infra.md
  packages/backend/.env.example
  packages/ui/.env.example
Owners: @org/docs-team, @repo-maintainers

feat(test): add CRM proposal smoke tests and metrics validation (#279)
  .github/workflows/backend-ci.yml
  CHANGELOG.md
  apps/backend/README.md
  apps/backend/package.json
  apps/backend/src/metrics/metrics.ts
  apps/backend/src/metrics/registry.runtime.spec.ts
  apps/backend/src/metrics/registry.ts
  apps/backend/src/observability/metrics.ts
  apps/backend/src/routes/crm.proposals.ts
  apps/backend/src/server.ts
  apps/backend/tests/smoke/crm.proposal.smoke.test.ts
  apps/backend/tests/smoke/metrics.smoke.test.ts
  apps/backend/tests/smoke/types.ts
  apps/backend/vitest.config.ts
  package-lock.json
  package.json
Owners: @org/platform-team, @repo-maintainers, @org/backend-team

feat(observability): add telemetry/logging tests
  .github/workflows/backend-ci.yml
  .gitignore
  CHANGELOG.md
  apps/backend/README.md
  apps/backend/jest.config.mjs
  apps/backend/package.json
  apps/backend/src/config/flags.ts
  apps/backend/src/observability/logs/router.spec.ts
  apps/backend/src/observability/logs/router.ts
  apps/backend/src/observability/telemetry/router.spec.ts
  apps/backend/src/observability/telemetry/router.ts
  apps/backend/src/server.ts
  src/middleware/correlationHeader.ts
  types/express/index.d.ts
Owners: @org/platform-team, @repo-maintainers, @org/backend-team

feat(observability): add telemetry/logging tests (#281)
  .github/workflows/backend-ci.yml
  .gitignore
  CHANGELOG.md
  apps/backend/README.md
  apps/backend/jest.config.mjs
  apps/backend/package.json
  apps/backend/src/config/flags.ts
  apps/backend/src/observability/logs/router.spec.ts
  apps/backend/src/observability/logs/router.ts
  apps/backend/src/observability/telemetry/router.spec.ts
  apps/backend/src/observability/telemetry/router.ts
  apps/backend/src/server.ts
  src/middleware/correlationHeader.ts
  types/express/index.d.ts
Owners: @org/platform-team, @repo-maintainers, @org/backend-team

feat: add accessible dock host modal
  apps/frontend/src/features/dock/DockHost.tsx
  apps/frontend/src/features/dock/DockHostLegacy.tsx
  apps/frontend/src/features/dock/DockShell.tsx
  apps/frontend/src/features/dock/DockWidget.tsx
  apps/frontend/src/features/dock/__tests__/DockHost.test.tsx
  apps/frontend/src/features/dock/__tests__/DockHostA11y.test.tsx
  apps/frontend/src/features/dock/index.ts
  apps/frontend/src/features/dock/useFocusReturn.ts
  apps/frontend/src/main.tsx
  apps/frontend/src/routes/dock-demo.tsx
  apps/frontend/vite.config.ts
Owners: @org/frontend-team, @repo-maintainers

fix(frontend): sikre focus trap guards og eksponere eslint-bin i workspace
  apps/frontend/package.json
  apps/frontend/src/features/dock/DockHost.tsx
  package-lock.json
Owners: @org/frontend-team, @repo-maintainers

feat: add accessible DockHost modal (#282)
  apps/frontend/package.json
  apps/frontend/src/features/dock/DockHost.tsx
  apps/frontend/src/features/dock/DockHostLegacy.tsx
  apps/frontend/src/features/dock/DockShell.tsx
  apps/frontend/src/features/dock/DockWidget.tsx
  apps/frontend/src/features/dock/__tests__/DockHost.test.tsx
  apps/frontend/src/features/dock/__tests__/DockHostA11y.test.tsx
  apps/frontend/src/features/dock/index.ts
  apps/frontend/src/features/dock/useFocusReturn.ts
  apps/frontend/src/main.tsx
  apps/frontend/src/routes/dock-demo.tsx
  apps/frontend/vite.config.ts
  package-lock.json
Owners: @org/frontend-team, @repo-maintainers

feat(observability): telemetry/log ingest tests with trace
  .github/workflows/backend-ci.yml
  CHANGELOG.md
  apps/backend/README.md
  apps/backend/package.json
  apps/backend/src/app.ts
  apps/backend/src/config/flags.ts
  apps/backend/src/middleware/trace.ts
  apps/backend/src/observability/logs/router.spec.ts
  apps/backend/src/observability/logs/router.ts
  apps/backend/src/observability/telemetry/router.spec.ts
  apps/backend/src/observability/telemetry/router.ts
Owners: @org/platform-team, @repo-maintainers, @org/backend-team

ci(frontend): point unit workflow to apps/frontend and fix cache paths
  .github/workflows/frontend-unit.yml
Owners: @org/platform-team, @repo-maintainers

feat(observability): telemetry/log ingest tests with trace (#284)
  .github/workflows/backend-ci.yml
  CHANGELOG.md
  apps/backend/README.md
  apps/backend/package.json
  apps/backend/src/app.ts
  apps/backend/src/config/flags.ts
  apps/backend/src/middleware/trace.ts
  apps/backend/src/observability/logs/router.spec.ts
  apps/backend/src/observability/logs/router.ts
  apps/backend/src/observability/telemetry/router.spec.ts
  apps/backend/src/observability/telemetry/router.ts
Owners: @org/platform-team, @repo-maintainers, @org/backend-team

ci(frontend): point unit workflow to apps/frontend and fix cache paths (#285)
  .github/workflows/frontend-unit.yml
Owners: @org/platform-team, @repo-maintainers

feat(frontend): add FlipCard and Proactivity demo route
  CHANGELOG.md
  apps/frontend/README.md
  apps/frontend/package.json
  apps/frontend/src/App.tsx
  apps/frontend/src/main.tsx
  apps/frontend/src/routes/demo/controls-demo.test.tsx
  apps/frontend/src/routes/demo/controls-demo.tsx
  apps/frontend/tsconfig.json
  apps/frontend/vite.config.ts
  package-lock.json
Owners: @org/frontend-team, @repo-maintainers

security(auth): enable secure cookies in prod and make dev-mock opt-in
  docs/Infra.md
  packages/backend-auth/src/index.ts
Owners: @org/docs-team, @repo-maintainers

security(auth): enable secure cookies in prod and make dev-mock opt-in (#287)
  docs/Infra.md
  packages/backend-auth/src/index.ts
Owners: @org/docs-team, @repo-maintainers

obs(logging): default to structured stdout; guard file writes behind WB_LOG_FILE
  docs/Infra.md
  src/core/logging/logger.ts
Owners: @org/docs-team, @repo-maintainers

obs(logging): default to structured stdout; guard file writes behind WB_LOG_FILE (#288)
  docs/Infra.md
  src/core/logging/logger.ts
Owners: @org/docs-team, @repo-maintainers

ci: enforce least-privilege permissions with read-only defaults
  .github/workflows/ci.yml
Owners: @org/platform-team, @repo-maintainers

ci: enforce least-privilege permissions with read-only defaults (#289)
  .github/workflows/ci.yml
Owners: @org/platform-team, @repo-maintainers

fix(frontend): gjør @workbuoy/ui tilgjengelig i typecheck/build og Docker
  apps/frontend/Dockerfile
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/types/workbuoy-ui.d.ts
  apps/frontend/tsconfig.json
  package-lock.json
  packages/ui/package.json
Owners: @org/frontend-team, @repo-maintainers

backend(telemetry): wire router to Prisma storage with dev fallback
  apps/backend/routes/features.ts
  apps/backend/routes/usage.ts
  apps/backend/src/server.ts
  apps/backend/src/telemetryContext.ts
  docs/Infra.md
Owners: @org/backend-team, @repo-maintainers, @org/docs-team

backend(telemetry): fix ESM import path and encapsulate telemetry storage
  apps/backend/routes/features.ts
  apps/backend/routes/usage.ts
  apps/backend/src/server.ts
  apps/backend/src/telemetry/context.ts
  apps/backend/src/telemetryContext.ts
Owners: @org/backend-team, @repo-maintainers

.github/CODEOWNERS:

CODEOWNERS
Replace @org/* placeholders with real GH teams or usernames when available.
Core applications

/apps/backend/ @org/backend-team @repo-maintainers
/apps/frontend/ @org/frontend-team @repo-maintainers

Shared types & tooling

/types/ @org/platform-team @repo-maintainers
/tools/ @org/platform-team @repo-maintainers

CI & workflows

/.github/workflows/ @org/platform-team @repo-maintainers

Infra: Helm & Kubernetes

/deploy/helm/ @org/platform-team @org/devops-team @repo-maintainers
/deploy/k8s/ @org/platform-team @org/devops-team @repo-maintainers

Documentation

/docs/ @org/docs-team @repo-maintainers

Catch-all (optional): uncomment to require maintainer review by default
# * @repo-maintainers
