Repository workbuoy/workbuoy-suite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @org/backend-team, @repo-maintainers, @org/frontend-team, @org/platform-team, @org/devops-team, @org/docs-team

chore(cleanup): remove duplicated role/feature fixtures; keep tests
  .gitignore
  SEED_CI_CALLS.md
  WORKBUOY_AUDIT.md
  apps/backend/package.json
  apps/backend/prisma/seed.ts
  apps/backend/src/app.ts
  core/roles/README.md
  core/roles/index.js
  core/roles/validate_roles.js
  docs/auto/roles_gate_README.md
  enterprise/data/roles/roles.json
  enterprise/public/data/roles.json
  package-lock.json
  package.json
  packages/roles-data/README.md
  packages/roles-data/features.json
  packages/roles-data/package.json
  packages/roles-data/roles.json
  packages/roles-data/scripts/validate.ts
  roles/roles.json
  scripts/check-roles-json.ts
  scripts/fixtures/minimal-features.json
  scripts/fixtures/minimal-roles.json
  scripts/roles-io.ts
  scripts/run_roles_gate.sh
  services/builder/policies/denylist.yaml
  src/roles/loader.ts
  tests/README.md
  tests/roles/test_roles_schema.py
  tools/analyze-workbuoy.mjs
Owners: @org/backend-team, @repo-maintainers, @org/docs-team, @org/platform-team

chore(cleanup): remove duplicated role/feature fixtures; keep tests (#228)
  .gitignore
  SEED_CI_CALLS.md
  WORKBUOY_AUDIT.md
  apps/backend/package.json
  apps/backend/prisma/seed.ts
  apps/backend/src/app.ts
  core/roles/README.md
  core/roles/index.js
  core/roles/validate_roles.js
  docs/auto/roles_gate_README.md
  enterprise/data/roles/roles.json
  enterprise/public/data/roles.json
  package-lock.json
  package.json
  packages/roles-data/README.md
  packages/roles-data/features.json
  packages/roles-data/package.json
  packages/roles-data/roles.json
  packages/roles-data/scripts/validate.ts
  roles/roles.json
  scripts/check-roles-json.ts
  scripts/fixtures/minimal-features.json
  scripts/fixtures/minimal-roles.json
  scripts/roles-io.ts
  scripts/run_roles_gate.sh
  services/builder/policies/denylist.yaml
  src/roles/loader.ts
  tests/README.md
  tests/roles/test_roles_schema.py
  tools/analyze-workbuoy.mjs
Owners: @org/backend-team, @repo-maintainers, @org/docs-team, @org/platform-team

chore(workspaces): expand npm workspaces to include satellites
  connectors/dynamics/.eslintrc.cjs
  connectors/salesforce/.eslintrc.cjs
  crm/.eslintrc.cjs
  crm/.eslintrc.json
  desktop/.eslintrc.cjs
  desktop/ui/.eslintrc.cjs
  docs/.eslintrc.cjs
  enterprise/.eslintrc.cjs
  examples/js/.eslintrc.cjs
  package-lock.json
  package.json
  sdk/js/.eslintrc.cjs
  sdk/ts/.eslintrc.cjs
  telemetry/.eslintrc.cjs
Owners: @org/docs-team, @repo-maintainers

chore(workspaces): expand npm workspaces to include satellites (#229)
  connectors/dynamics/.eslintrc.cjs
  connectors/salesforce/.eslintrc.cjs
  crm/.eslintrc.cjs
  crm/.eslintrc.json
  desktop/.eslintrc.cjs
  desktop/ui/.eslintrc.cjs
  docs/.eslintrc.cjs
  enterprise/.eslintrc.cjs
  examples/js/.eslintrc.cjs
  package-lock.json
  package.json
  sdk/js/.eslintrc.cjs
  sdk/ts/.eslintrc.cjs
  telemetry/.eslintrc.cjs
Owners: @org/docs-team, @repo-maintainers

docs(policy): link Asset Policy to CI guard and allowlist
  .github/workflows/repo-guards.yml
  docs/ASSET_POLICY.md
  package.json
  tools/guard/ban-large-files.js
  tools/guard/large-files.allowlist
Owners: @org/platform-team, @repo-maintainers, @org/docs-team

docs(policy): link Asset Policy to CI guard and allowlist (#232)
  .github/workflows/repo-guards.yml
  docs/ASSET_POLICY.md
  package.json
  tools/guard/ban-large-files.js
  tools/guard/large-files.allowlist
Owners: @org/platform-team, @repo-maintainers, @org/docs-team

chore(docker): Dockerfile: run post-build verification to fail early if entrypoint missing
  apps/backend/Dockerfile
  apps/backend/package.json
  apps/backend/routes/proposals.ts
  apps/backend/src/server.ts
  apps/backend/tsconfig.container.json
  src/core/capabilityRunner.ts
  src/core/db/prisma.ts
  src/finance/orchestrator.ts
  src/roles/db/RoleRepo.ts
  src/roles/loader.ts
  src/routes/buoy.complete.ts
  src/telemetry/usageSignals.db.ts
Owners: @org/backend-team, @repo-maintainers

fix(backend,container): build prisma client for container image
  apps/backend/Dockerfile
  apps/backend/package.json
Owners: @org/backend-team, @repo-maintainers

build(container): include backend entrypoint in container build + add post-build existence check (#233)
  apps/backend/Dockerfile
  apps/backend/package.json
  apps/backend/routes/proposals.ts
  apps/backend/src/server.ts
  apps/backend/tsconfig.container.json
  src/core/capabilityRunner.ts
  src/core/db/prisma.ts
  src/finance/orchestrator.ts
  src/roles/db/RoleRepo.ts
  src/roles/loader.ts
  src/routes/buoy.complete.ts
  src/telemetry/usageSignals.db.ts
Owners: @org/backend-team, @repo-maintainers

docs(dev-quickstart): document npm run clean as first step before install
  .github/workflows/repo-guards.yml
  docs/DEV_QUICKSTART.md
  package.json
Owners: @org/platform-team, @repo-maintainers, @org/docs-team

docs(dev-quickstart): document npm run clean as first step before install (#234)
  .github/workflows/repo-guards.yml
  docs/DEV_QUICKSTART.md
  package.json
Owners: @org/platform-team, @repo-maintainers, @org/docs-team

docs(structure): note new backend-auth package
  .gitignore
  apps/backend/package.json
  apps/backend/src/server.ts
  apps/backend/src/sso/oidc.ts
  docs/STRUCTURE.md
  package-lock.json
  packages/backend-auth/dist/index.d.ts
  packages/backend-auth/dist/index.d.ts.map
  packages/backend-auth/dist/index.js
  packages/backend-auth/dist/index.js.map
  packages/backend-auth/package.json
  packages/backend-auth/src/index.ts
  packages/backend-auth/tsconfig.json
Owners: @org/backend-team, @repo-maintainers, @org/docs-team

docs(structure): note new backend-auth package (#235)
  .gitignore
  apps/backend/package.json
  apps/backend/src/server.ts
  apps/backend/src/sso/oidc.ts
  docs/STRUCTURE.md
  package-lock.json
  packages/backend-auth/dist/index.d.ts
  packages/backend-auth/dist/index.d.ts.map
  packages/backend-auth/dist/index.js
  packages/backend-auth/dist/index.js.map
  packages/backend-auth/package.json
  packages/backend-auth/src/index.ts
  packages/backend-auth/tsconfig.json
Owners: @org/backend-team, @repo-maintainers, @org/docs-team

docs(structure): refresh to show active layout only
  docs/ARCHIVE.md
  docs/STRUCTURE.md
  docs/archive/PR2_remove-legacy-routes-policy/PR_BODY.md
  docs/archive/backend/README.md
  docs/archive/desktop_demo/offline_sync_demo.js
  docs/archive/frontend/README.md
Owners: @org/docs-team, @repo-maintainers

docs(structure): refresh to show active layout only (#236)
  docs/ARCHIVE.md
  docs/STRUCTURE.md
  docs/archive/PR2_remove-legacy-routes-policy/PR_BODY.md
  docs/archive/backend/README.md
  docs/archive/desktop_demo/offline_sync_demo.js
  docs/archive/frontend/README.md
Owners: @org/docs-team, @repo-maintainers

docs(dev-quickstart): document light vs full install modes
  docs/CI_NOTES.md
  docs/DEV_QUICKSTART.md
  package-lock.json
  package.json
Owners: @org/docs-team, @repo-maintainers

fix(workspaces): remove optional flags, restore crm/enterprise, and fix bootstrap:light
  docs/DEV_QUICKSTART.md
  package-lock.json
  package.json
Owners: @org/docs-team, @repo-maintainers

chore(workspaces): mark enterprise & crm as optional and add light bootstrap (#237)
  docs/CI_NOTES.md
  docs/DEV_QUICKSTART.md
  package.json
Owners: @org/docs-team, @repo-maintainers

feat(backend-telemetry): extract telemetry router package
  .github/workflows/repo-guards.yml
  apps/backend/package.json
  apps/backend/routes/features.ts
  apps/backend/routes/usage.ts
  apps/backend/src/telemetryContext.ts
  docs/STRUCTURE.md
  docs/usage.md
  package-lock.json
  package.json
  packages/backend-telemetry/package.json
  packages/backend-telemetry/src/index.ts
  packages/backend-telemetry/src/router.ts
  packages/backend-telemetry/src/stores/inMemory.ts
  packages/backend-telemetry/src/stores/prisma.ts
  packages/backend-telemetry/src/types.ts
  packages/backend-telemetry/tsconfig.json
  src/telemetry/usageSignals.db.ts
  src/telemetry/usageSignals.ts
  tests/features/active.api.test.ts
  tests/persistence-smoke/usage.db.test.ts
  tests/usage/db.usage.test.ts
Owners: @org/platform-team, @repo-maintainers, @org/backend-team, @org/docs-team

fix(container+workspaces): stage and build @workbuoy/backend-telemetry in Docker builder before backend compile
  apps/backend/Dockerfile
Owners: @org/backend-team, @repo-maintainers

fix(telemetry+prisma): map action → FeatureUsageAction and use Prisma JSON types inside adapter; export factory and consume from backend
  apps/backend/routes/features.ts
  apps/backend/src/telemetryContext.ts
  packages/backend-telemetry/src/adapters/prismaStorage.ts
  packages/backend-telemetry/src/index.ts
  packages/backend-telemetry/src/router.ts
  packages/backend-telemetry/src/stores/inMemory.ts
  packages/backend-telemetry/src/stores/prisma.ts
  packages/backend-telemetry/src/types.ts
  packages/backend-telemetry/tsconfig.json
  src/telemetry/usageSignals.db.ts
  src/telemetry/usageSignals.ts
  tests/features/active.api.test.ts
  tests/persistence-smoke/usage.db.test.ts
  tests/usage/db.usage.test.ts
  types/prisma__client/index.d.ts
Owners: @org/backend-team, @repo-maintainers, @org/platform-team

refactor(backend): extract telemetry router into @workbuoy/backend-telemetry + add size report script (#238)
  .github/workflows/repo-guards.yml
  apps/backend/Dockerfile
  apps/backend/package.json
  apps/backend/routes/features.ts
  apps/backend/routes/usage.ts
  apps/backend/src/telemetryContext.ts
  docs/STRUCTURE.md
  docs/usage.md
  package-lock.json
  package.json
  packages/backend-telemetry/package.json
  packages/backend-telemetry/src/adapters/prismaStorage.ts
  packages/backend-telemetry/src/index.ts
  packages/backend-telemetry/src/router.ts
  packages/backend-telemetry/src/stores/inMemory.ts
  packages/backend-telemetry/src/types.ts
  packages/backend-telemetry/tsconfig.json
  src/telemetry/usageSignals.db.ts
  src/telemetry/usageSignals.ts
  tests/features/active.api.test.ts
  tests/persistence-smoke/usage.db.test.ts
  tests/usage/db.usage.test.ts
  types/prisma__client/index.d.ts
Owners: @org/platform-team, @repo-maintainers, @org/backend-team, @org/docs-team

docs(structure+quickstart): document backend-rbac surface
  apps/backend/Dockerfile
  apps/backend/package.json
  apps/backend/src/crm/dummy_mutations.ts
  apps/backend/src/crm/routes.db.ts
  apps/backend/src/crm/routes.ts
  apps/backend/src/middleware/rbac.ts
  apps/backend/src/rbac/binding.ts
  apps/backend/src/rbac/enforce.ts
  apps/backend/src/rbac/middleware.ts
  apps/backend/src/rbac/policy.ts
  apps/backend/src/rbac/routes.ts
  apps/backend/src/rbac/service.ts
  apps/backend/src/server.ts
  apps/backend/tests/rbac.binding.test.ts
  apps/backend/tests/rbac.test.ts
  apps/backend/tests/rbac_policy.test.ts
  apps/backend/tsconfig.container.json
  docs/DEV_QUICKSTART.md
  docs/STRUCTURE.md
  package-lock.json
  packages/backend-rbac/package.json
  packages/backend-rbac/src/binding.ts
  packages/backend-rbac/src/config.ts
  packages/backend-rbac/src/index.ts
  packages/backend-rbac/src/middleware.ts
  packages/backend-rbac/src/policy.ts
  packages/backend-rbac/src/router.ts
  packages/backend-rbac/src/store.ts
  packages/backend-rbac/src/types.ts
  packages/backend-rbac/tests/middleware.test.ts
  packages/backend-rbac/tests/policy.test.ts
  packages/backend-rbac/tsconfig.json
Owners: @org/backend-team, @repo-maintainers, @org/docs-team

fix(ts+workspaces): map @workbuoy/backend-rbac via paths; emit package d.ts; declare backend dependency
  apps/backend/package.json
  apps/backend/tsconfig.container.json
  apps/backend/tsconfig.json
  apps/backend/tsconfig.meta.json
  apps/backend/tsconfig.typecheck.json
  packages/backend-rbac/README.md
  packages/backend-rbac/package.json
  packages/backend-rbac/src/middleware.ts
  packages/backend-rbac/tsconfig.json
Owners: @org/backend-team, @repo-maintainers

fix(workspaces+docker): update lockfile, root-first CI install, and workspace-aware runtime npm ci
  .github/workflows/backend-ci.yml
  .github/workflows/backend-persistence.yml
  apps/backend/Dockerfile
  package-lock.json
Owners: @org/platform-team, @repo-maintainers, @org/backend-team

fix(workspaces): drop workspace:* specs, update lockfile, root-first CI install, and prod Docker install without workspace protocol
  .github/workflows/backend-ci.yml
  .github/workflows/backend-persistence.yml
  apps/backend/Dockerfile
  apps/backend/package.json
  apps/backend/tsconfig.container.json
  apps/backend/tsconfig.json
  apps/backend/tsconfig.meta.json
  apps/backend/tsconfig.typecheck.json
  package-lock.json
  package.json
  packages/backend-rbac/LICENSE
  packages/backend-rbac/package.json
  packages/backend-telemetry/LICENSE
  packages/backend-telemetry/README.md
  packages/backend-telemetry/package.json
Owners: @org/platform-team, @repo-maintainers, @org/backend-team

fix(workspaces+telemetry+rbac): add examples/* to workspaces, align telemetry actions with Prisma enum, simplify groupBy types, and keep x-user-role header
  package-lock.json
  package.json
  packages/backend-rbac/src/middleware.ts
  packages/backend-telemetry/src/adapters/prismaStorage.ts
Owners: none

fix(workspaces): include sdk/* in root workspaces + refresh lockfile
  package-lock.json
  package.json
  sdk/gen/typescript/package.json
  sdk/js/package.json
  sdk/ts/package.json
Owners: none

feat(metrics): add backend metrics package and integration
  .github/workflows/repo-guards.yml
  README.md
  apps/backend/Dockerfile
  apps/backend/package.json
  apps/backend/src/server.ts
  docs/CI_NOTES.md
  docs/STRUCTURE.md
  package-lock.json
  package.json
  packages/backend-metrics/LICENSE
  packages/backend-metrics/README.md
  packages/backend-metrics/package.json
  packages/backend-metrics/src/index.ts
  packages/backend-metrics/src/middleware.ts
  packages/backend-metrics/src/registry.ts
  packages/backend-metrics/src/router.ts
  packages/backend-metrics/tests/middleware.test.ts
  packages/backend-metrics/tests/router.test.ts
  packages/backend-metrics/tsconfig.json
  scripts/size-report.mjs
  src/core/observability/metrics.ts
  tools/size-thresholds.ts
Owners: @org/platform-team, @repo-maintainers, @org/backend-team, @org/docs-team

fix(metrics): replace DefaultMetricsCollectorConfiguration with CollectDefaultsOptions
  packages/backend-metrics/src/index.ts
  packages/backend-metrics/src/middleware.ts
  packages/backend-metrics/src/registry.ts
Owners: none

feat(metrics): add backend metrics package and integration (#240)
  .github/workflows/repo-guards.yml
  README.md
  apps/backend/Dockerfile
  apps/backend/package.json
  apps/backend/src/server.ts
  docs/CI_NOTES.md
  docs/STRUCTURE.md
  package-lock.json
  package.json
  packages/backend-metrics/LICENSE
  packages/backend-metrics/README.md
  packages/backend-metrics/package.json
  packages/backend-metrics/src/index.ts
  packages/backend-metrics/src/middleware.ts
  packages/backend-metrics/src/registry.ts
  packages/backend-metrics/src/router.ts
  packages/backend-metrics/tests/middleware.test.ts
  packages/backend-metrics/tests/router.test.ts
  packages/backend-metrics/tsconfig.json
  scripts/size-report.mjs
  src/core/observability/metrics.ts
  tools/size-thresholds.ts
Owners: @org/platform-team, @repo-maintainers, @org/backend-team, @org/docs-team

docs(metrics): document metrics bridge in structure + quickstart
  apps/backend/src/index.ts
  apps/backend/src/metrics/metrics.ts
  apps/backend/src/observability/metricsBridge.ts
  apps/backend/tests/metrics.bridge.integration.test.ts
  apps/backend/tests/metrics.bridge.test.ts
  docs/DEV_QUICKSTART.md
  docs/STRUCTURE.md
  packages/backend-metrics/README.md
  packages/backend-metrics/src/index.ts
  packages/backend-metrics/src/registry.ts
  packages/backend-metrics/tests/registry.test.ts
Owners: @org/backend-team, @repo-maintainers, @org/docs-team

fix(backend): align metrics bridge imports
  apps/backend/src/core/eventBusV2.ts
  apps/backend/src/observability/metricsBridge.ts
  apps/backend/tsconfig.container.json
  apps/backend/tsconfig.json
  apps/backend/tsconfig.typecheck.json
Owners: @org/backend-team, @repo-maintainers

fix(backend+metrics): ESModule import .js, resolve metrics workspace, and relax prom-client Registry typing
  apps/backend/src/observability/metricsBridge.ts
  apps/backend/tests/metrics.bridge.integration.test.ts
  apps/backend/tests/metrics.bridge.test.ts
  packages/backend-metrics/src/index.ts
  packages/backend-metrics/src/registry.ts
  packages/backend-metrics/tests/registry.test.ts
Owners: @org/backend-team, @repo-maintainers

fix(metrics+backend): make registry helpers TS-safe and harden event-bus shim for NodeNext/ESM
  apps/backend/src/core/eventBusV2.ts
  apps/backend/tsconfig.container.json
  apps/backend/tsconfig.json
  apps/backend/tsconfig.typecheck.json
  packages/backend-metrics/src/registry.ts
Owners: @org/backend-team, @repo-maintainers

fix(metrics+backend): loosen prom-client Registry types and add ambient root-bus shim; stabilize paths
  apps/backend/src/core/eventBusV2.ts
  apps/backend/src/types/ambient-root-bus.d.ts
  packages/backend-metrics/src/helpers.ts
  packages/backend-metrics/src/index.ts
  packages/backend-metrics/src/registry.ts
  packages/backend-metrics/src/types.ts
Owners: @org/backend-team, @repo-maintainers

fix(metrics+backend): stabilize prom-client Registry typing and add backend-metrics ambient shim for NodeNext
  apps/backend/src/types/backend-metrics.d.ts
  apps/backend/tsconfig.container.json
  apps/backend/tsconfig.json
  packages/backend-metrics/src/registry.ts
Owners: @org/backend-team, @repo-maintainers

fix(metrics): expose counter helpers and harden registry merges
  packages/backend-metrics/src/helpers.ts
  packages/backend-metrics/src/helpers/metrics.ts
  packages/backend-metrics/src/index.ts
  packages/backend-metrics/src/registry.ts
Owners: none

fix(backend+metrics): export metrics helpers/router/middleware from package entry; unblock backend build
  apps/backend/src/types/backend-metrics.d.ts
  packages/backend-metrics/package.json
  packages/backend-metrics/src/helpers/metrics.ts
  packages/backend-metrics/src/index.ts
  packages/backend-metrics/src/registry.ts
Owners: @org/backend-team, @repo-maintainers

fix(metrics): stabilize exports for NodeNext
  apps/backend/src/types/backend-metrics.d.ts
  packages/backend-metrics/package.json
  packages/backend-metrics/src/helpers.ts
  packages/backend-metrics/src/helpers/metrics.ts
  packages/backend-metrics/src/index.ts
  packages/backend-metrics/src/middleware.ts
  packages/backend-metrics/src/registry.ts
  packages/backend-metrics/src/router.ts
  packages/backend-metrics/src/types.ts
Owners: @org/backend-team, @repo-maintainers

.github/CODEOWNERS:

CODEOWNERS
Replace @org/* placeholders with real GH teams or usernames when available.
Core applications

/apps/backend/ @org/backend-team @repo-maintainers
/apps/frontend/ @org/frontend-team @repo-maintainers

Shared types & tooling

/types/ @org/platform-team @repo-maintainers
/tools/ @org/platform-team @repo-maintainers

CI & workflows

/.github/workflows/ @org/platform-team @repo-maintainers

Infra: Helm & Kubernetes

/deploy/helm/ @org/platform-team @org/devops-team @repo-maintainers
/deploy/k8s/ @org/platform-team @org/devops-team @repo-maintainers

Documentation

/docs/ @org/docs-team @repo-maintainers

Catch-all (optional): uncomment to require maintainer review by default
# * @repo-maintainers
