Repository workbuoy/workbuoy-suite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @org/backend-team, @repo-maintainers, @org/frontend-team, @org/platform-team, @org/devops-team, @org/docs-team

.github/CODEOWNERS:

CODEOWNERS
Replace @org/* placeholders with real GH teams or usernames when available.
Core applications

/apps/backend/ @org/backend-team @repo-maintainers
/apps/frontend/ @org/frontend-team @repo-maintainers

Shared types & tooling

/types/ @org/platform-team @repo-maintainers
/tools/ @org/platform-team @repo-maintainers

CI & workflows

/.github/workflows/ @org/platform-team @repo-maintainers

Infra: Helm & Kubernetes

/deploy/helm/ @org/platform-team @org/devops-team @repo-maintainers
/deploy/k8s/ @org/platform-team @org/devops-team @repo-maintainers

Documentation

/docs/ @org/docs-team @repo-maintainers

Catch-all (optional): uncomment to require maintainer review by default
# * @repo-maintainers

fix(metrics): export all runtime helpers from NodeNext barrel and include sources in build; unblock backend container compile
  apps/backend/src/types/backend-metrics.d.ts
  packages/backend-metrics/src/helpers.ts
  packages/backend-metrics/src/index.ts
  packages/backend-metrics/src/middleware.ts
  packages/backend-metrics/src/registry.ts
  packages/backend-metrics/src/router.ts
  packages/backend-metrics/src/types.ts
  packages/backend-metrics/tsconfig.json
Owners: @org/backend-team, @repo-maintainers

fix(metrics): ensure expected API is exported in dist; align NodeNext barrel and includes
  apps/backend/src/types/backend-metrics.d.ts
  packages/backend-metrics/package.json
  packages/backend-metrics/src/helpers.ts
  packages/backend-metrics/src/index.ts
  packages/backend-metrics/src/registry.ts
  packages/backend-metrics/src/types.ts
  packages/backend-metrics/tsconfig.json
Owners: @org/backend-team, @repo-maintainers

fix(metrics): guarantee dist exports match backend API (createCounter/createMetricsRouter/getRegistry/withMetrics)
  apps/backend/src/types/backend-metrics.d.ts
  packages/backend-metrics/src/registry.ts
  packages/backend-metrics/src/types.ts
Owners: @org/backend-team, @repo-maintainers

fix(metrics): guarantee dist barrel exports expected backend API
  packages/backend-metrics/src/index.ts
  packages/backend-metrics/tsconfig.json
Owners: none

fix(metrics): harden public API surface and entry barrel for backend build
  packages/backend-metrics/src/helpers.ts
  packages/backend-metrics/src/index.ts
  packages/backend-metrics/src/middleware.ts
  packages/backend-metrics/src/registry.ts
  packages/backend-metrics/src/router.ts
  packages/backend-metrics/src/types.ts
Owners: none

fix(metrics-types): stop ambient shim shadowing metrics exports
  apps/backend/src/types/backend-metrics.d.ts
  apps/backend/tsconfig.container.json
  apps/backend/tsconfig.json
  apps/backend/tsconfig.typecheck.json
Owners: @org/backend-team, @repo-maintainers

fix(metrics): align NodeNext exports and router API with backend
  apps/backend/tsconfig.typecheck.json
  packages/backend-metrics/src/index.ts
  packages/backend-metrics/src/router.ts
  packages/backend-metrics/src/types.ts
Owners: @org/backend-team, @repo-maintainers

fix(metrics): support express router overloads
  packages/backend-metrics/src/index.ts
  packages/backend-metrics/src/router.ts
  packages/backend-metrics/src/types.ts
Owners: none

fix(metrics): add overloads for createMetricsRouter(app, options?) and re-export types
  packages/backend-metrics/src/index.ts
  packages/backend-metrics/src/registry.ts
  packages/backend-metrics/src/router.ts
  packages/backend-metrics/src/types.ts
Owners: none

fix(metrics/router): preserve createMetricsRouter(app, options?) overloads through NodeNext barrel
  packages/backend-metrics/package.json
  packages/backend-metrics/src/assert-types.ts
  packages/backend-metrics/src/index.ts
  packages/backend-metrics/src/router.ts
  packages/backend-metrics/tsconfig.json
Owners: none

fix(metrics/exports): force overloads into barrel d.ts so backend sees createMetricsRouter(app, options?)
  apps/backend/tsconfig.typecheck.json
  packages/backend-metrics/src/assert-types.ts
  packages/backend-metrics/src/index.ts
  packages/backend-metrics/src/types.ts
  packages/backend-metrics/tsconfig.json
Owners: @org/backend-team, @repo-maintainers

fix(metrics+backend/ts): emit both router overloads in dist and split typecheck vs container resolution
  apps/backend/tsconfig.typecheck.json
  packages/backend-metrics/src/assert-types.ts
  packages/backend-metrics/src/counter.ts
  packages/backend-metrics/src/helpers.ts
  packages/backend-metrics/src/index.ts
  packages/backend-metrics/src/middleware.ts
  packages/backend-metrics/src/registry.ts
  packages/backend-metrics/src/router.ts
  packages/backend-metrics/src/types.ts
  packages/backend-metrics/tsconfig.json
Owners: @org/backend-team, @repo-maintainers

backend: mount metrics router instead of app-overload + fix typecheck paths for workspace packages
  apps/backend/src/server.ts
  apps/backend/tsconfig.typecheck.json
Owners: @org/backend-team, @repo-maintainers

backend: harden params/env/headers and metrics router wiring to satisfy strict TS checks
  apps/backend/src/app.ts
  apps/backend/src/crm/import_export_routes.ts
  apps/backend/src/crm/routes.db.ts
  apps/backend/src/crm/routes.ts
  apps/backend/src/identity/sso.ts
  apps/backend/src/meta-evolution/genetics/code-genome.ts
  apps/backend/src/meta-evolution/genetics/evolution-simulator.ts
  apps/backend/src/utils/require.ts
  src/core/proactivity/state.ts
Owners: @org/backend-team, @repo-maintainers

backend: fix strict TS errors and metrics wiring (green CI)
  apps/backend/src/identity/sso.ts
  apps/backend/src/server.ts
  apps/backend/tests/metrics.bridge.integration.test.ts
  packages/backend-metrics/README.md
  packages/backend-metrics/tests/middleware.test.ts
  packages/backend-metrics/tests/router.test.ts
  src/routes/buoy.complete.ts
Owners: @org/backend-team, @repo-maintainers

backend: fix strict type errors across CRM, meta-evolution, proactivity and routes
  apps/backend/src/crm/import_export_routes.ts
  apps/backend/src/crm/routes.db.ts
  src/features/deals/deals.router.ts
  src/routes/buoy.complete.ts
  src/utils/require.ts
Owners: @org/backend-team, @repo-maintainers

backend(types+guards): fix strict TS errors by augmenting Express types, guarding undefined, and enforcing concrete params
  apps/backend/src/crm/import_export_routes.ts
  apps/backend/src/meta-evolution/consciousness/awareness-engine.ts
  apps/backend/src/meta-evolution/genesis/solution-synthesizer.ts
  apps/backend/src/types/express.d.ts
  apps/backend/tsconfig.json
  apps/backend/tsconfig.typecheck.json
  src/routes/buoy.complete.ts
Owners: @org/backend-team, @repo-maintainers

chore(docs): add Workbuoy architecture overview (Core/Flex/Secure + Navi/Buoy AI/Roles/Proactivity)
  README.md
  docs/architecture/workbuoy-architecture.md
Owners: @org/docs-team, @repo-maintainers

chore(docs): add Workbuoy architecture overview (Core/Flex/Secure + Navi/Buoy AI/Roles/Proactivity) (#242)
  README.md
  docs/architecture/workbuoy-architecture.md
Owners: @org/docs-team, @repo-maintainers

fix(backend): tighten runtime guards to satisfy strict TS checks
  apps/backend/src/crm/import_export_routes.ts
  apps/backend/src/crm/routes.db.ts
  src/core/proactivity/state.ts
  src/routes/audit.ts
  src/routes/buoy.complete.ts
Owners: @org/backend-team, @repo-maintainers

fix(crm): guard db routes prisma usage
  apps/backend/src/crm/routes.db.ts
Owners: @org/backend-team, @repo-maintainers

chore(typecheck): remove strict-null and prisma model type dependencies in CRM DB & telemetry/roles code
  apps/backend/src/crm/routes.db.ts
  packages/backend-telemetry/src/adapters/prismaStorage.ts
  src/roles/db/FeatureRepo.ts
  src/roles/db/OverrideRepo.ts
  src/roles/db/RoleRepo.ts
  src/roles/db/UserRoleRepo.ts
Owners: @org/backend-team, @repo-maintainers

fix(typecheck): ESM path endings + Prisma JSON inputs
  apps/backend/src/crm/routes.db.ts
  packages/backend-telemetry/src/adapters/prismaStorage.ts
  src/roles/db/FeatureRepo.ts
  src/roles/db/OverrideRepo.ts
  src/roles/db/RoleRepo.ts
Owners: @org/backend-team, @repo-maintainers

fix(typecheck): ESM shims for .js imports + loosen Prisma JSON/enums to satisfy CI
  apps/backend/src/crm/routes.db.ts
  apps/backend/src/types/esm-shims.d.ts
  packages/backend-telemetry/src/adapters/prismaStorage.ts
  src/roles/db/FeatureRepo.ts
  src/roles/db/OverrideRepo.ts
  src/roles/db/RoleRepo.ts
Owners: @org/backend-team, @repo-maintainers

fix(typecheck): NodeNext ESM shims + loosen Prisma JSON/enum typings
  apps/backend/src/crm/routes.db.ts
  apps/backend/src/types/esm-shims.d.ts
  apps/backend/tsconfig.container.json
  apps/backend/tsconfig.typecheck.json
  packages/backend-telemetry/src/adapters/prismaStorage.ts
  src/roles/db/FeatureRepo.ts
  src/roles/db/OverrideRepo.ts
  src/roles/db/RoleRepo.ts
  src/roles/db/UserRoleRepo.ts
Owners: @org/backend-team, @repo-maintainers

fix(ci/typecheck): NodeNext ESM resolution + Prisma typing decoupling
  apps/backend/src/crm/routes.db.ts
  apps/backend/src/types/esm-shims.d.ts
  apps/backend/tsconfig.container.json
  apps/backend/tsconfig.typecheck.json
  packages/backend-telemetry/src/adapters/prismaStorage.ts
  src/roles/db/FeatureRepo.ts
  src/roles/db/OverrideRepo.ts
  src/roles/db/RoleRepo.ts
  src/roles/db/UserRoleRepo.ts
Owners: @org/backend-team, @repo-maintainers

fix(ci): resolve ESM .js imports with paired d.ts and remove disallowed ts flag
  apps/backend/src/require.js.d.ts
  apps/backend/src/utils/assert.js.d.ts
  apps/backend/tsconfig.container.json
  apps/backend/tsconfig.typecheck.json
Owners: @org/backend-team, @repo-maintainers

fix(ci): type-resolve ESM .js in CRM via ambient modules + Buffer→string narrow
  apps/backend/src/crm/import_export.ts
  apps/backend/src/types/ambient-esm-decls.d.ts
Owners: @org/backend-team, @repo-maintainers

fix(ci): robust ESM typings via paired .d.ts + fix never in CRM import/export
  apps/backend/src/crm/import_export.ts
  apps/backend/src/types/ambient-esm-decls.d.ts
Owners: @org/backend-team, @repo-maintainers

chore: stabilize metrics typecheck and tests
  apps/backend/README.md
  apps/backend/jest.config.cjs
  apps/backend/jest.meta.config.cjs
  apps/backend/src/app.ts
  apps/backend/src/audit/audit.ts
  apps/backend/src/connectors/queue.ts
  apps/backend/src/crm/import_export_routes.ts
  apps/backend/src/crm/routes.db.ts
  apps/backend/src/crm/routes.ts
  apps/backend/src/identity/sso.ts
  apps/backend/src/meta-evolution/consciousness/awareness-engine.ts
  apps/backend/src/meta-evolution/genesis/solution-synthesizer.ts
  apps/backend/src/meta-evolution/genetics/code-genome.ts
  apps/backend/src/meta-evolution/genetics/evolution-simulator.ts
  apps/backend/src/metrics/bridge.spec.ts
  apps/backend/src/metrics/bridge.ts
  apps/backend/src/metrics/events.ts
  apps/backend/src/metrics/metrics.e2e.spec.ts
  apps/backend/src/metrics/metrics.ts
  apps/backend/src/metrics/registry.ts
  apps/backend/src/metrics/router.ts
  apps/backend/src/server.ts
  apps/backend/src/telemetryContext.ts
  apps/backend/src/types/any-module.d.ts
  apps/backend/src/types/legacy-modules.d.ts
  apps/backend/tests/__mocks__/prom-client.ts
  apps/backend/tsconfig.container.json
  apps/backend/tsconfig.json
  apps/backend/tsconfig.meta.json
  apps/backend/tsconfig.typecheck.json
  packages/backend-metrics/src/createCounter.ts
  packages/backend-metrics/src/createHistogram.ts
  packages/backend-metrics/src/index.ts
  packages/backend-telemetry/src/adapters/prismaStorage.ts
  src/core/proactivity/state.ts
  src/features/deals/deals.router.ts
  src/routes/audit.ts
  src/routes/buoy.complete.ts
Owners: @org/backend-team, @repo-maintainers

fix(ci): use PrismaClient correctly and export register in prom-client mock
  apps/backend/tests/__mocks__/prom-client.ts
  packages/backend-telemetry/src/adapters/prismaStorage.ts
Owners: @org/backend-team, @repo-maintainers

fix(ci/prisma): remove value-usage of Prisma in telemetry and decouple roles repos from generated model types
  packages/backend-telemetry/src/adapters/prismaStorage.ts
  src/roles/db/FeatureRepo.ts
  src/roles/db/OverrideRepo.ts
  src/roles/db/RoleRepo.ts
  src/roles/db/UserRoleRepo.ts
Owners: none

fix(test-mock): remove duplicate Registry definition in prom-client mock
  apps/backend/tests/__mocks__/prom-client.ts
Owners: @org/backend-team, @repo-maintainers

chore(ts): unify NodeNext toolchain and remove global any shims
  apps/backend/src/types/any-module.d.ts
  apps/backend/tsconfig.typecheck.json
  tsconfig.json
Owners: @org/backend-team, @repo-maintainers

chore(ts): unify NodeNext toolchain and remove global any shims (#244)
  apps/backend/src/types/any-module.d.ts
  apps/backend/tsconfig.typecheck.json
  tsconfig.json
Owners: @org/backend-team, @repo-maintainers

chore(test): adopt @swc/jest ESM transform and sanitize prom-client mock
  apps/backend/jest.ci.config.cjs
  apps/backend/jest.config.cjs
  apps/backend/jest.config.js
  apps/backend/jest.meta.config.cjs
  apps/backend/package.json
  apps/backend/src/types/any-module.d.ts
  apps/backend/tests/__mocks__/prom-client.ts
  apps/backend/tsconfig.typecheck.json
  package-lock.json
  tsconfig.json
Owners: @org/backend-team, @repo-maintainers

chore(docker): add libc6-compat for swc on Alpine; optional musl binary for @swc/core
  apps/backend/Dockerfile
  apps/backend/package.json
Owners: @org/backend-team, @repo-maintainers

chore(docker): use Debian builder to avoid @swc/core Alpine postinstall crash; keep Alpine runtime
  apps/backend/Dockerfile
Owners: @org/backend-team, @repo-maintainers

chore(frontend/docker): isolate workspace install and use Debian builder to avoid swc postinstall crash
  apps/frontend/Dockerfile
Owners: @org/frontend-team, @repo-maintainers

chore: migrate backend tests to @swc/jest (#245)
  apps/backend/Dockerfile
  apps/backend/jest.ci.config.cjs
  apps/backend/jest.config.cjs
  apps/backend/jest.config.js
  apps/backend/jest.meta.config.cjs
  apps/backend/package.json
  apps/backend/tests/__mocks__/prom-client.ts
  apps/frontend/Dockerfile
  package-lock.json
Owners: @org/backend-team, @repo-maintainers, @org/frontend-team
